/* styles just for the info button... */
i {
  color: #5882FA;
  height: 15px;
  width: 15px;
  font-size: 15px;
  position: relative;
  vertical-align: middle;
  padding: 0;
  margin: 0;
  border: 0;
}

/*
  NOTE: this was moved to the global styles.css because here
  it has no effect.

  style="padding:0;margin:0;border:0;"
*/
html-dialog-app {
  padding: 0 !important;
  margin: 0 !important;
  border: 0 !important;
}
