<div class="row">

  <div class="col-3">
    <div *ngIf="!update && itemType==='Visit Mapped Pool'" style="display:inline-block;">
      <h4><u>Add Data for Vernal Pool {{poolId}}</u></h4>
    </div>

    <div *ngIf="!update && itemType==='Visit New Pool'" style="display:inline-block;">
      <h4><u>Add NEW* Vernal Pool</u></h4>
    </div>

    <div *ngIf="!update && itemType==='Visit' && poolId" style="display:inline-block;">
      <h4><u>Add Data for Vernal Pool {{poolId}}</u></h4>
    </div>

    <div *ngIf="update && itemType==='Visit'" style="display:inline-block;">
      <h4><u>Edit Vernal Pool Visit {{visitId}}</u></h4>
    </div>

    <div *ngIf="!update && itemType==='View Visit'" style="display:inline-block;">
      <h4><u>View Vernal Pool Visit {{visitId}}</u></h4>
    </div>
  </div> <!-- col -->

  <div class="col-8">
    <div style="display:inline-block;float:right;">
      <label>Pool Data Page:</label>
      <!-- https://juristr.com/blog/2016/11/ng2-binding-radiobutton-lists/ -->
      <label>
       <input type="radio" [checked]="visitPage.index===0" name="visitPage" (change)="onVisitPageSelect(0)" class="radio-button-horiz" />
       <span>{{visitPage.values[0].name}}</span>
      </label>
      <label [ngClass]="{ 'disabled': itemType==='Visit New Pool'||(!poolId&&!visitId) }">
       <input [disabled]="itemType==='Visit New Pool'||(!poolId&&!visitId)" type="radio" [checked]="visitPage.index===1" name="visitPage" (change)="onVisitPageSelect(1)" class="radio-button-horiz" />
       <span [ngClass]="{ 'disabled': itemType==='Visit New Pool'||(!poolId&&!visitId) }">{{visitPage.values[1].name}}</span>
      </label>
      <label [ngClass]="{ 'disabled': itemType==='Visit New Poo||(!poolId&&!visitId)'||(!poolId&&!visitId) }">
       <input [disabled]="itemType==='Visit New Pool'||(!poolId&&!visitId)" type="radio" [checked]="visitPage.index===2" name="visitPage" (change)="onVisitPageSelect(2)" class="radio-button-horiz" />
       <span [ngClass]="{ 'disabled': itemType==='Visit New Pool'||(!poolId&&!visitId) }">{{visitPage.values[2].name}}</span>
      </label>
      <label [ngClass]="{ 'disabled': itemType==='Visit New Pool'||(!poolId&&!visitId) }">
       <input [disabled] ="itemType==='Visit New Pool'||(!poolId&&!visitId)" type="radio" [checked]="visitPage.index===3" name="visitPage" (change)="onVisitPageSelect(3)" class="radio-button-horiz" />
       <span [ngClass]="{ 'disabled': itemType==='Visit New Pool'||(!poolId&&!visitId) }">{{visitPage.values[3].name}}</span>
      </label>
      <label [ngClass]="{ 'disabled': itemType==='Visit New Pool'||(!poolId&&!visitId) }">
       <input [disabled] ="itemType==='Visit New Pool'||(!poolId&&!visitId)" type="radio" [checked]="visitPage.index===4" name="visitPage" (change)="onVisitPageSelect(4)" class="radio-button-horiz" />
       <span [ngClass]="{ 'disabled': itemType==='Visit New Pool'||(!poolId&&!visitId) }">{{visitPage.values[4].name}}</span>
      </label>
    </div>
  </div> <!-- col -->
</div> <!-- row -->

<form [formGroup]="visitObserverForm">
  <div class="row">
    <div class="col-3">
      <!-- visitId -->
      <div class="form-group form-inline">
          <label for="visitId">Visit ID</label>
          <input type="text" formControlName="visitId" class="form-control" [ngClass]="{ 'is-invalid': submitted && observ.visitId.errors }" />
          <div *ngIf="submitted && observ.visitId.errors" class="invalid-feedback">
              <div *ngIf="observ.visitId.errors.required">Visit ID is required</div>
          </div>
      </div>
    </div>
    <div class="col-3">
      <!--
          visitUserName
      -->
      <div class="form-group form-inline">
          <label for="visitUserName">Visit User</label>
          <input type="text" formControlName="visitUserName" class="form-control" [ngClass]="{ 'is-invalid': submitted && observ.visitUserName.errors }" />
          <div *ngIf="submitted && observ.visitUserName.errors" class="invalid-feedback">
              <div *ngIf="observ.visitUserName.errors.required">Visit User is required</div>
          </div>
      </div>
    </div> <!-- col -->
    <div class="col-3">
      <div class=" form-inline">
        <label>Visit Pool ID</label>
        <input type="text" class="form-control" disabled="true" value="{{locate.visitPoolId.value}}" />
      </div>
    </div> <!-- col -->
    <div class="col-3">
      <div class=" form-inline">
        <label>Visit Date</label>
        <input type="text" class="form-control" disabled="true" value="{{locate.visitDate.value}}" />
      </div>
    </div> <!-- col -->
  </div> <!-- row -->
</form> <!-- visitObserverForm -->

<div *ngIf="visitPage.index===0" class="row"> <!-- Master -->
  <div class="col-6"> <!-- Master -->

<form *ngIf="visitPage.index===0" [formGroup]="visitPoolMappedForm">
  <div class="row">
      <!--
          visitPoolMapped - radio button
          https://stackoverflow.com/questions/49078286/angular-5-reactive-forms-radio-button-group
          https://angular.io/api/forms/RadioControlValueAccessor
      -->
      <div class="form-inline">
        <label><u>2a) Vernal Pool Location Info:</u></label>
        <html-dialog-app [htmlContent]="visitDialogText.visitPoolMapped"></html-dialog-app>
        <label *ngIf="mapped.visitPoolMapped.value==null && !poolId && !visitId" style="color: blue;">
          Please begin by selecting one option below.
        </label>
        <label *ngIf="mapped.visitPoolMapped.value=='true' && !poolId && !visitId" style="color: blue;">
          Please enter the Pool ID below, or select a Pool on the map.
        </label>
        <label *ngIf="mapped.visitPoolMapped.value=='false' && !poolId && !visitId" style="color: blue;">
          Please locate the marker on the map or enter Lat/Lon below.
        </label>
      </div>
  </div>

  <div class="row">

    <div class="col-12">
      <div class="form-group form-inline">
           <label>
             <input type="radio" value="true" (change)="visitModeChanged($event)" formControlName="visitPoolMapped" class="form-control radio-button-horiz" />
               <span>This pool was mapped</span>
           </label>
           <label>
             <input type="radio" value="false" (change)="visitModeChanged($event)" formControlName="visitPoolMapped" class="form-control radio-button-horiz" />
               <span>This pool was NOT mapped (New Pool)</span>
           </label>
      </div>
    </div> <!-- col -->

  </div> <!-- row -->

</form> <!-- visitPoolMappedForm -->

<form *ngIf="visitPage.index===0" [formGroup]="visitLocationForm">
  <div class="row">
    <div class="col-12">
      <!-- 2a Vernal Pool Location Information -->
      <div class="row">
        <div class="col-4">
          <!--
              visitPoolId - text
          -->
          <div class="form-group form-inline">
            <label for="visitPoolId">Pool ID</label>
            <html-dialog-app [htmlContent]="visitDialogText.visitPoolId"></html-dialog-app>
            <input type="text" size="10" (change)="visitPoolIdChanged($event)" (keyup.enter)="FilterByPoolId()" formControlName="visitPoolId" class="form-control" [ngClass]="{ 'is-invalid': submitted && locate.visitPoolId.errors }" />
            <div *ngIf="submitted && locate.visitPoolId.errors" class="invalid-feedback">
                <div *ngIf="locate.visitPoolId.errors.required">Visit Pool ID is required</div>
            </div>
          </div>
        </div> <!-- col -->
        <div class="col-4">
          <!--
              visitDate
          -->
          <div class="form-group form-inline">
              <label for="visitDate">Visit Date</label>
              <html-dialog-app [htmlContent]="visitDialogText.visitDate"></html-dialog-app>
              <!--
               NOTE: format must be YYYY-MM-DD to set value of input type="date" from code.
               Oddly, setting the default date in that format does not alter is default Date
               format, which is MM / DD / YYYY.
              -->
              <input type="date" formControlName="visitDate" class="form-control" [ngClass]="{ 'is-invalid': submitted && locate.visitDate.errors }" />
              <div *ngIf="submitted && locate.visitDate.errors" class="invalid-feedback">
                  <div *ngIf="locate.visitDate.errors.required">Visit Date is required</div>
                  <div *ngIf="locate.visitDate.errors.date">Visit Date must be a valid date in the format MM/DD/YYYY</div>
              </div>
          </div>
        </div> <!-- col -->
        <div class="col-4">
          <!--
            visitTown
          -->
          <div class="form-group form-inline float-right">
              <label for="visitTown">Town</label>
              <html-dialog-app [htmlContent]="visitDialogText.visitTown"></html-dialog-app>
              <select [compareWith]="compareTownFn" formControlName="visitTown" class="form-control">
                <option *ngFor="let town of towns" [ngValue]="town">
                  {{ town.townName }}
                </option>
              </select>
          </div>
        </div> <!-- col -->
      </div> <!-- row -->
      <!--
          visitPoolMapped - radio button
          https://stackoverflow.com/questions/49078286/angular-5-reactive-forms-radio-button-group
          NOTE: radio button values are type string. it does not handle boolean by default.
      -->
    <span *ngIf="mapped.visitPoolMapped.value=='true'">
      <div class="row">
      <div class="col-4">
      <label for="visitLocatePool"><u>Was the pool located?</u></label>
      <html-dialog-app [htmlContent]="visitDialogText.visitLocatePool"></html-dialog-app>
      <div class="form-group form-inline">
        <label>
         <input type="radio" value="true" formControlName="visitLocatePool" class="form-control radio-button-horiz" />
           <span>Yes</span>
        </label>
        <label>
         <input type="radio" value="false" formControlName="visitLocatePool" class="form-control radio-button-horiz" />
           <span>No</span>
        </label>
      </div>
    </div> <!-- col -->

      <!--
        visitCertainty - radio button
      -->

      <div class="col-8">
      <label><u>How certain are you that you were in the correct Location?</u></label>
      <html-dialog-app [htmlContent]="visitDialogText.visitCertainty"></html-dialog-app>
      <div class="form-group form-inline">
          <label>
            <input type="radio" value="Certain" formControlName="visitCertainty" class="form-control radio-button-horiz" />
            <span>Certain</span>
          </label>
          <label>
            <input type="radio" value="Pretty Sure" formControlName="visitCertainty" class="form-control radio-button-horiz" />
            <span>Pretty Sure</span>
          </label>
          <label>
            <input type="radio" value="Not Sure" formControlName="visitCertainty" class="form-control radio-button-horiz" />
            <span>Not Sure</span>
          </label>
      </div>
      </div> <!-- col -->
      </div> <!-- row -->
    </span> <!-- visitPoolMapped is true -->

    <span *ngIf="mapped.visitPoolMapped.value=='false'">
      <!--
        visitLocationUncertainty
      -->
      <div>
        <label><u>Please estimate the location uncertainty of this pool in yards:</u></label>
        <html-dialog-app [htmlContent]="visitDialogText.visitLocationUncertainty"></html-dialog-app>
      </div>
      <div class="form-group form-inline">
          <label>
            <input type="radio" value="10" formControlName="visitLocationUncertainty" class="form-control radio-button-horiz" />
            <span>10 yards</span>
          </label>
          <label>
            <input type="radio" value="50" formControlName="visitLocationUncertainty" class="form-control radio-button-horiz" />
            <span>50 yards</span>
          </label>
          <label>
            <input type="radio" value="100" formControlName="visitLocationUncertainty" class="form-control radio-button-horiz" />
            <span>100 yards</span>
          </label>
          <label>
            <input type="radio" value=">100" formControlName="visitLocationUncertainty" class="form-control radio-button-horiz" />
            <span>Greater than 100 yards</span>
          </label>
          <div *ngIf="submitted && locate.visitLocationUncertainty.errors" class="invalid-feedback">
             <div *ngIf="locate.visitLocationUncertainty.errors.required">Location Uncertainty is required</div>
          </div>
      </div>
    </span> <!-- visitPoolMapped is false -->

      <!--
        visitNavMethod - radio button
      -->
      <div>
        <label><u>What navigation method was used?</u></label>
        <html-dialog-app [htmlContent]="visitDialogText.visitNavMethod"></html-dialog-app>
      </div>
      <div class="form-group form-inline">
          <label>
            <input type="radio" value="GPS" formControlName="visitNavMethod" class="form-control radio-button-horiz" />
            <span>GPS</span>
          </label>
          <label>
            <input type="radio" value="Map & compass" formControlName="visitNavMethod" class="form-control radio-button-horiz" />
            <span>Map & compass</span>
          </label>
          <label>
            <input type="radio" value="Prior Knowledge" formControlName="visitNavMethod" class="form-control radio-button-horiz" />
            <span>Prior knowledge of site</span>
          </label>
          <label>
            <input type="radio" value="Other" formControlName="visitNavMethod" class="form-control radio-button-horiz" />
            <span class="leading-label">Other:</span>
            <input type="text" formControlName="visitNavMethodOther" class="form-control"/>
          </label>
      </div>

  <div class="row">
    <div class="col-5">
      <!--
        visitDirections
      -->
      <div class="form-group">
          <label for="visitDirections">Brief directions to pool:</label>
          <html-dialog-app [htmlContent]="visitDialogText.visitDirections"></html-dialog-app>
          <textarea rows="1" formControlName="visitDirections" class="form-control"> </textarea>
      </div>
    </div> <!-- col -->
    <div class="col-5">
      <!--
        visitLocationComments
      -->
      <div class="form-group">
          <label for="visitLocationComments">Comments:</label>
          <html-dialog-app [htmlContent]="visitDialogText.visitLocationComments"></html-dialog-app>
          <textarea rows="1" formControlName="visitLocationComments" class="form-control"> </textarea>
      </div>
    </div> <!-- col -->

    <div class="col-2">
      <div class="form-group form-inline">
        <label>Photo:</label>
        <html-dialog-app [htmlContent]="visitDialogText.visitPoolPhoto"></html-dialog-app>

        <div class="form-inline"
          (mouseover)="ImgMouseOver();"
          (mouseout)="ImgMouseOut();"
        >
          <label class="btn btn-primary btn-file">
            <i class="fa fa-camera"></i>
            <input type="file" style="display:none;" formControlName="visitPoolPhoto"
              (change)="PhotoFileEvent($event)" size="15" class="form-control"/>
            <img
              src="https://s3.amazonaws.com/vpatlas.data/{{visit.poolId}}"
              style="display:inline-block; max-height:30px; max-width:30px;"
            />
          </label>
        </div>

      </div> <!-- form-group -->
    </div> <!-- col -->

  </div> <!-- row -->
      <div>
        <label><u>2b) Location of Pool</u></label>
        <html-dialog-app [htmlContent]="visitDialogText.visitLocationOfPool"></html-dialog-app>
      </div>
  <div class="row">
    <div class="col-6">
      <!--
        visitLatitude
      -->
      <div class="form-group form-inline">
          <label for="visitLatitude" class="leading-label">Latitude/Northing</label>
          <html-dialog-app [htmlContent]="visitDialogText.visitLatitude"></html-dialog-app>
          <input type="text" formControlName="visitLatitude" size="15" class="form-control" [ngClass]="{ 'is-invalid': submitted && locate.visitLatitude.errors }" />
          <div *ngIf="submitted && locate.visitLatitude.errors" class="invalid-feedback">
              <div *ngIf="locate.visitLatitude.errors.required">Visit Latitude is required</div>
          </div>
      </div>
    </div> <!-- col -->
    <div class="col-6">
      <!--
        visitLongitude
      -->
      <div class="form-group form-inline">
          <label for="visitLongitude" class="leading-label" >Longitude/Easting</label>
          <html-dialog-app [htmlContent]="visitDialogText.visitLongitude"></html-dialog-app>
          <input type="text" formControlName="visitLongitude" size="15" class="form-control" [ngClass]="{ 'is-invalid': submitted && locate.visitLongitude.errors }" />
          <div *ngIf="submitted && locate.visitLongitude.errors" class="invalid-feedback">
              <div *ngIf="locate.visitLongitude.errors.required">Visit Longitude is required</div>
          </div>
      </div>
    </div> <!-- col -->
  </div> <!-- row -->

      <div>
        <label><u>Source of Pool Coordinates</u></label>
        <html-dialog-app [htmlContent]="visitDialogText.visitCoordSource"></html-dialog-app>
      </div>
      <div class="form-group form-inline">
          <label>
            <input type="radio" value="GPS" formControlName="visitCoordSource" class="form-control radio-button-horiz" />
            <span>GPS</span>
          </label>
          <label>
            <input type="radio" value="Topo map" formControlName="visitCoordSource" class="form-control radio-button-horiz" />
            <span>Topo map</span>
          </label>
          <label>
            <input type="radio" value="Google Earth" formControlName="visitCoordSource" class="form-control radio-button-horiz" />
            <span>Google Earth</span>
          </label>
          <label>
            <input type="radio" value="VT ANR Mapping website" formControlName="visitCoordSource" class="form-control radio-button-horiz" />
            <span>VT ANR Mapping website</span>
          </label>
      </div>
    </div> <!-- col -->
  </div> <!-- row -->
</form> <!-- visitLocationForm -->
</div> <!-- col-6 Master -->

  <div class="col-6"> <!-- Master -->
    <div *ngIf="!showImage">
      <div *ngIf="!poolsLoading">
        <app-map-comp style="height:450px;"
          [mapPoints]="mapPoints"
          [mapValues]="pools"
          [mapMarker]="mapMarker"
          [locMarker]="locMarker"
          [itemType]="itemType"
          (markerUpdate)="markerLocationUpdate($event)"
          (markerSelect)="markerSelected($event)"
          >
        </app-map-comp>
      </div>

      <div *ngIf="poolsLoading">
        Loading...
      </div>
    </div> <!-- !showImage -->
    <div *ngIf="showImage"> <!-- image overlay -->
      <img
        src="https://s3.amazonaws.com/vpatlas.data/{{visit.poolId}}"
        style="max-height:100%; max-width:100%;"
      />
    </div>
  </div> <!-- col-6 Master -->

</div> <!-- row Master -->

<form *ngIf="visitPage.index===1" [formGroup]="visitLocationForm">

        <div>
          <label><u>2c) Landowner Contact Information</u></label>
        </div>
        <!-- visitUserIsLandowner -->
        <div class="form-group form-inline">
            <label for="visitUserIsLandowner">Are you the landowner?</label>&nbsp;
            <html-dialog-app [htmlContent]="visitDialogText.visitUserIsLandowner"></html-dialog-app>
            <input type="checkbox" formControlName="visitUserIsLandowner" />&nbsp;
            <label>Yes</label>
        </div>

        <!-- visitLandownerPermission -->
        <div class="form-group form-inline">
            <label for="visitLandownerPermission">Do you have Landowner Permission to map this pool?</label>&nbsp;
            <html-dialog-app [htmlContent]="visitDialogText.visitLandownerPermission"></html-dialog-app>
            <input type="checkbox" formControlName="visitLandownerPermission" />&nbsp;
            <label>Yes</label>
        </div>

          <!-- visitLandownerData if they have permission -->
          <form *ngIf="permission" [formGroup]="visitLandOwnForm">
          <div class="form-group form-inline">
              <label for="visitLandownerName">Landowner Name</label>
              <input type="text" formControlName="visitLandownerName" class="form-control" [ngClass]="{ 'is-invalid': submitted && landown.visitLandownerName.errors }" />
              <div *ngIf="submitted && landown.visitLandownerName.errors" class="invalid-feedback">
                  <div *ngIf="landown.visitLandownerName.errors.required">Landowner Name is required</div>
              </div>
          </div>
          <div class="form-group form-inline">
              <label for="visitLandownerAddress">Landowner Address</label>
              <textarea rows="1" formControlName="visitLandownerAddress" class="form-control" [ngClass]="{ 'is-invalid': submitted && landown.visitLandownerAddress.errors }">
              </textarea>
              <div *ngIf="submitted && landown.visitLandownerAddress.errors" class="invalid-feedback">
                  <div *ngIf="landown.visitLandownerAddress.errors.required">Landowner Address is required</div>
              </div>
          </div>
  <!--
          <div class="form-group form-inline">
              <label for="visitLandownerTown">Landowner Town</label>
              <input type="text" formControlName="visitLandownerTown" class="form-control" [ngClass]="{ 'is-invalid': submitted && landown.visitLandownerTown.errors }" />
              <div *ngIf="submitted && landown.visitLandownerTown.errors" class="invalid-feedback">
                  <div *ngIf="landown.visitLandownerTown.errors.required">Landowner Town is required</div>
              </div>
          </div>
          <div class="form-group form-inline">
              <label for="visitLandownerStateAbbrev">Landowner State Abbreviation</label>
              <input type="text" formControlName="visitLandownerStateAbbrev" class="form-control" [ngClass]="{ 'is-invalid': submitted && landown.visitLandownerStateAbbrev.errors }" />
              <div *ngIf="submitted && landown.visitLandownerStateAbbrev.errors" class="invalid-feedback">
                  <div *ngIf="landown.visitLandownerStateAbbrev.errors.required">Landowner StateAbbrev is required</div>
              </div>
          </div>
          <div class="form-group form-inline">
              <label for="visitLandownerZip5">Landowner Zip5</label>
              <input type="text" formControlName="visitLandownerZip5" class="form-control" [ngClass]="{ 'is-invalid': submitted && landown.visitLandownerZip5.errors }" />
              <div *ngIf="submitted && landown.visitLandownerZip5.errors" class="invalid-feedback">
                  <div *ngIf="landown.visitLandownerZip5.errors.required">Landowner Zip5 is required</div>
              </div>
          </div>
  -->
          <div class="form-group form-inline">
              <label for="visitLandownerPhone">Landowner Phone</label>
              <input type="text" formControlName="visitLandownerPhone" class="form-control" [ngClass]="{ 'is-invalid': submitted && landown.visitLandownerPhone.errors }" />
              <div *ngIf="submitted && landown.visitLandownerPhone.errors" class="invalid-feedback">
                <!--
                <div *ngIf="landown.visitLandownerPhone.errors.emailOrPhone">Landowner Phone or Email is required</div>
                -->
                <div *ngIf="landown.visitLandownerPhone.errors.phone">Please enter a valid phone number: (123) 456-7890.</div>
              </div>
          </div>
          <div class="form-group form-inline">
              <label for="visitLandownerEmail">Landowner Email</label>
              <input type="text" formControlName="visitLandownerEmail" class="form-control" [ngClass]="{ 'is-invalid': submitted && landown.visitLandownerEmail.errors }" />
              <div *ngIf="submitted && landown.visitLandownerEmail.errors" class="invalid-feedback">
                <!--
                <div *ngIf="landown.visitLandownerEmail.errors.emailOrPhone">Landowner Email or Phone is required</div>
                -->
                <div *ngIf="landown.visitLandownerEmail.errors.email">Please enter a valid email address.</div>
              </div>
          </div>
        </form> <!-- visitLandOwnForm, if permission -->
</form>

<!-- 3. Vernal Pool Field-Verification Information - visitFieldVerificationForm -->
<form *ngIf="visitPage.index===2" [formGroup]="visitFieldVerificationForm">
  <!--
    visitVernalPool - radio button
  -->
  <div class="form-group form-inline">
      <label for="visitVernalPool">Is this a Vernal Pool?</label>
      <html-dialog-app [htmlContent]="visitDialogText.visitVernalPool"></html-dialog-app>
      <label>
        <input type="radio" value="Yes" formControlName="visitVernalPool" class="form-control radio-button-horiz" />
        <span>Yes</span>
      </label>
      <label>
        <input type="radio" value="No" formControlName="visitVernalPool" class="form-control radio-button-horiz" />
        <span>No</span>
      </label>
      <label>
        <input type="radio" value="DontKnow" formControlName="visitVernalPool" class="form-control radio-button-horiz" />
        <span>Don't Know</span>
      </label>
  </div>
  <div>
    <label for="visitPoolType"><u>3a) Pool Type</u></label>
    <html-dialog-app [htmlContent]="visitDialogText.visitPoolType"></html-dialog-app>
  </div>
  <!--
    visitPoolType - radio button
  -->
  <div class="form-group form-inline">
      <label>
        <input type="radio" value="Isolated Forest Depression" formControlName="visitPoolType" class="form-control radio-button-horiz" />
        <span>Isolated Forest Depression</span>
      </label>
      <html-dialog-app [htmlContent]="visitDialogText.visitIsolatedForestDepression"></html-dialog-app>

      <label>
        <input type="radio" value="Floodplain Depression" formControlName="visitPoolType" class="form-control radio-button-horiz" />
        <span>Floodplain Depression</span>
      </label>
      <html-dialog-app [htmlContent]="visitDialogText.visitFloodplainDepression"></html-dialog-app>

      <label>
        <input type="radio" value="Manmade" formControlName="visitPoolType" class="form-control radio-button-horiz" />
        <span>Manmade (impoundment, quarry, excavated pond, etc.)</span>
      </label>
      <html-dialog-app [htmlContent]="visitDialogText.visitManmadeImpoundmentQuarryEtc"></html-dialog-app>

      <label>
        <input type="radio" value="Isolated Non-Forest Depression" formControlName="visitPoolType" class="form-control radio-button-horiz" />
        <span>Isolated Non-Forest Depression</span>
      </label>
      <html-dialog-app [htmlContent]="visitDialogText.visitIsolatedNonForestDepression"></html-dialog-app>

      <label>
        <input type="radio" value="Pool associated with larger wetland complex" formControlName="visitPoolType" class="form-control radio-button-horiz" />
        <span>Pool associated with larger wetland complex</span>
      </label>
      <html-dialog-app [htmlContent]="visitDialogText.visitPoolAssociatedWithLargerWetlandComplex"></html-dialog-app>

      <label>
        <input type="radio" value="Other" formControlName="visitPoolType" class="form-control radio-button-horiz" />
        <span>Other:</span>
      </label>
      <html-dialog-app [htmlContent]="visitDialogText.visitPoolTypeOther"></html-dialog-app>
      <input type="text" value="" formControlName="visitPoolTypeOther" class="form-control" />

  </div>
  <div>
    <label><u>3b) Presence of Inlet and/or Outlet</u></label>
  </div>
  <!--
    visitInletType - radio button: No Inlet, Ephemeral Inlet, Permanent Inlet
  -->
  <div class="form-group form-inline">
      <label for="visitInletType">Type of Inlet (an inlet is a seasonal or permanent channel providing water into pool)</label>
      <html-dialog-app [htmlContent]="visitDialogText.visitInletType"></html-dialog-app>
      <label>
        <input type="radio" value="No Inlet" formControlName="visitInletType" class="form-control radio-button-horiz" />
        <span>No Inlet</span>
      </label>
      <label>
        <input type="radio" value="Ephemeral Inlet" formControlName="visitInletType" class="form-control radio-button-horiz" />
        <span>Ephemeral Inlet</span>
      </label>
      <label>
        <input type="radio" value="Permanent Inlet" formControlName="visitInletType" class="form-control radio-button-horiz" />
        <span>Permanent Inlet</span>
      </label>
    </div>
    <!--
      visitOutletType - radio button: No Inlet, Ephemeral Inlet, Permanent Inlet
    -->
    <div class="form-group form-inline">
        <label for="visitOutletType">Type of Outlet (an outlet is a seasonal or permanent channel draining water from pool)</label>
        <html-dialog-app [htmlContent]="visitDialogText.visitOutletType"></html-dialog-app>
        <label>
          <input type="radio" value="No Outlet" formControlName="visitOutletType" class="form-control radio-button-horiz" />
          <span>No Outlet</span>
        </label>
        <label>
          <input type="radio" value="Ephemeral Outlet" formControlName="visitOutletType" class="form-control radio-button-horiz" />
          <span>Ephemeral Outlet</span>
        </label>
        <label>
          <input type="radio" value="Permanent Outlet" formControlName="visitOutletType" class="form-control radio-button-horiz" />
          <span>Permanent Outlet</span>
        </label>
    </div>

    <div>
      <label><u>3c) Surrounding Habitat (within 250 feet of pool)</u></label>
      <html-dialog-app [htmlContent]="visitDialogText.visitSurroundingHabitat"></html-dialog-app>
    </div>
<div class="row">
  <div class="col-6">
    <!--
      visitForestUpland - radio button: Deciduous, Coniferous, Mixed
    -->
    <div class="form-group form-inline">
        <label for="visitForestUpland"><u>Forested Upland:</u></label>
        <html-dialog-app [htmlContent]="visitDialogText.visitForestUpland"></html-dialog-app>
        <label>
          <input type="radio" value="Deciduous" formControlName="visitForestUpland" class="form-control radio-button-horiz" />
          <span>Deciduous</span>
        </label>
        <label>
          <input type="radio" value="Coniferous" formControlName="visitForestUpland" class="form-control radio-button-horiz" />
          <span>Coniferous</span>
        </label>
        <label>
          <input type="radio" value="Mixed" formControlName="visitForestUpland" class="form-control radio-button-horiz" />
          <span>Mixed</span>
        </label>
    </div>
  </div> <!-- col -->
  <div class="col-6">
    <!--
      visitForestUpland - radio button:
    -->
    <div class="form-group form-inline">
        <label for="visitForestCondition"><u>Forest Condition:</u></label>
        <html-dialog-app [htmlContent]="visitDialogText.visitForestCondition"></html-dialog-app>
        <label>
          <input type="radio" value="Undisturbed" formControlName="visitForestCondition" class="form-control radio-button-horiz" />
          <span>Undisturbed</span>
        </label>
        <label>
          <input type="radio" value="Minor logging" formControlName="visitForestCondition" class="form-control radio-button-horiz" />
          <span>Minor logging</span>
        </label>
        <label>
          <input type="radio" value="Major logging" formControlName="visitForestCondition" class="form-control radio-button-horiz" />
          <span>Major logging</span>
        </label>
    </div>
  </div> <!-- col -->
</div> <!-- row -->
    <!--
      visitHabitat{descriptors} - checkboxes
    -->
    <div class="form-group form-inline">
        <label>
          <input type="checkbox" formControlName="visitHabitatAgriculture" class="form-control radio-button-horiz" />
          <span>Agriculture/grassland</span>
        </label>
        <label>
          <input type="checkbox" formControlName="visitHabitatLightDev" class="form-control radio-button-horiz" />
          <span>Light development (<25% developed)</span>
        </label>
        <label>
          <input type="checkbox" formControlName="visitHabitatHeavyDev" class="form-control radio-button-horiz" />
          <span>Intensive development (>25% developed)</span>
        </label>
    </div>
    <div class="form-group form-inline">
        <label>
          <input type="checkbox" formControlName="visitHabitatPavedRd" class="form-control radio-button-horiz" />
          <span>Road/driveway (paved)</span>
        </label>
        <label>
          <input type="checkbox" formControlName="visitHabitatDirtRd" class="form-control radio-button-horiz" />
          <span>Road/driveway (dirt/gravel)</span>
        </label>
        <label>
          <input type="checkbox" formControlName="visitHabitatPowerline" class="form-control radio-button-horiz" />
          <span>Powerline right-of-way</span>
        </label>
        <label for="visitHabitatOther" class="leading-label">Other:</label>
        <input type="text" formControlName="visitHabitatOther"  class="form-control" />
    <!--
    </div>
    visitHabitatComment
    <div class="form-group form-inline">
    -->
        <label for="visitHabitatComment">Habitat Comments</label>
        <textarea rows="1" formControlName="visitHabitatComment" class="form-control"> </textarea>
    </div>
</form> <!-- visitFieldVerificationForm -->

<!-- 4. Pool Characteristics -- visitPoolCharacteristicsForm -->
<form *ngIf="visitPage.index===3" [formGroup]="visitPoolCharacteristicsForm">
  <div>
    <label><u>Hydrology</u></label>
  </div>
  <div>
    <label><u>4a) Approximate Maximum Pool Depth:</u></label>
    <html-dialog-app [htmlContent]="visitDialogText.visitMaxDepth"></html-dialog-app>
  </div>
  <!-- visitMaxDepth - radio button -->
  <div class="form-group form-inline">
      <label>
        <input type="radio" value="Ankle-deep" formControlName="visitMaxDepth" class="form-control radio-button-horiz" />
        <span>Ankle-deep (<6")</span>
      </label>
      <label>
        <input type="radio" value="Shin-deep" formControlName="visitMaxDepth" class="form-control radio-button-horiz" />
        <span>Shin-deep (6-12")</span>
      </label>
      <label>
        <input type="radio" value="Knee-deep" formControlName="visitMaxDepth" class="form-control radio-button-horiz" />
        <span>Knee-deep (12-24")</span>
      </label>
      <label>
        <input type="radio" value="Hip-deep" formControlName="visitMaxDepth" class="form-control radio-button-horiz" />
        <span>Hip-deep (2-3 ft)</span>
      </label>
      <label>
        <input type="radio" value="Chest-deep" formControlName="visitMaxDepth" class="form-control radio-button-horiz" />
        <span>Chest-deep (3-4 ft)</span>
      </label>
      <label>
        <input type="radio" value="Deeper than 4 ft" formControlName="visitMaxDepth" class="form-control radio-button-horiz" />
        <span>Deeper than 4 ft</span>
      </label>
  </div>
  <!-- visitWaterLevelObs - radio button -->
  <div class="form-group form-inline">
      <label><u>4b) Water Level at Time of Survey:</u></label>
      <html-dialog-app [htmlContent]="visitDialogText.visitWaterLevelObs"></html-dialog-app>
      <label>
        <input type="radio" value="Full" formControlName="visitWaterLevelObs" class="form-control radio-button-horiz" />
        <span>Full</span>
      </label>
      <label>
        <input type="radio" value="More than 50%" formControlName="visitWaterLevelObs" class="form-control radio-button-horiz" />
        <span>More than 50%</span>
      </label>
      <label>
        <input type="radio" value="Less than 50%" formControlName="visitWaterLevelObs" class="form-control radio-button-horiz" />
        <span>Less than 50%</span>
      </label>
      <label>
        <input type="radio" value="Dry" formControlName="visitWaterLevelObs" class="form-control radio-button-horiz" />
        <span>Dry</span>
      </label>
    </div>
    <div>
      <label><u>4c) Hydroperiod (select the likely hydroperiod)</u></label>
      <html-dialog-app [htmlContent]="visitDialogText.visitHydroPeriod"></html-dialog-app>
    </div>
    <!-- Hydroperiod -->
    <div class="form-group form-inline">
      <label>
        <input type="radio" value="Permanent" formControlName="visitHydroPeriod" class="form-control radio-button-horiz" />
        <span>Permanent</span>
      </label>
      <label>
        <input type="radio" value="Semi-permanent" formControlName="visitHydroPeriod" class="form-control radio-button-horiz" />
        <span>Semi-permanent (drying partially in all years and completely in drought years)</span>
      </label>
      <label>
        <input type="radio" value="Ephemeral" formControlName="visitHydroPeriod" class="form-control radio-button-horiz" />
        <span>Ephemeral (drying out completely during the growing searson in most years)</span>
      </label>
    </div>
    <!-- visitMaxWidth -->
    <div class="form-group form-inline">
      <label><u>4d) Approximate size of pool (at maximum capacity):</u></label>
      <html-dialog-app [htmlContent]="visitDialogText.visitApproxSizeofPool"></html-dialog-app>
        <label for="visitMaxWidth" class="leading-label">Width:</label>
        <input type="text" size="3" formControlName="visitMaxWidth" class="form-control" />
        <label for="visitMaxWidth" class="trailing-label">(ft)</label>
    <!-- visitMaxLength -->
        <label for="visitMaxLength" class="leading-label">Length:</label>
        <input type="text" size="3" formControlName="visitMaxLength" class="form-control" />
        <label for="visitMaxLength" class="trailing-label">(ft)</label>
    </div>
    <div class="form-group form-inline">
      <label><u>4e) Vegetation:</u></label>
      <html-dialog-app [htmlContent]="visitDialogText.visitVegetation"></html-dialog-app>
        <!-- visitPoolTrees -->
        <label for="visitPoolTrees" class="leading-label">Trees:</label>
        <input type="text" size="1" formControlName="visitPoolTrees" class="form-control" />
        <label for="visitPoolTrees" class="trailing-label">%</label>
        <!-- visitPoolShrubs -->
        <label for="visitPoolShrubs" class="leading-label">Shrubs:</label>
        <input type="text" size="1" formControlName="visitPoolShrubs" class="form-control" />
        <label for="visitPoolShrubs" class="trailing-label">%</label>
        <!-- visitPoolEmergents -->
        <label for="visitPoolEmergents" class="leading-label">Emergent:</label>
        <input type="text" size="1" formControlName="visitPoolEmergents" class="form-control" />
        <label for="visitPoolEmergents" class="trailing-label">%</label>
        <!-- visitPoolFloatingVeg -->
        <label for="visitPoolFloatingVeg" class="leading-label">Floating:</label>
        <input type="text" size="1" formControlName="visitPoolFloatingVeg" class="form-control" />
        <label for="visitPoolFloatingVeg" class="trailing-label">%</label>
    </div>
    <!-- visitSubstrate: radio button -->
    <div class="form-group form-inline">
      <label><u>4f) Substrate:</u></label>
      <html-dialog-app [htmlContent]="visitDialogText.visitSubstrate"></html-dialog-app>
        <label>
          <input type="radio" value="Leaf litter" formControlName="visitSubstrate" class="form-control radio-button-horiz" />
          <span>Leaf litter</span>
        </label>
        <label>
          <input type="radio" value="Bedrock" formControlName="visitSubstrate" class="form-control radio-button-horiz" />
          <span>Bedrock</span>
        </label>
        <label>
          <input type="radio" value="Sand/Gravel" formControlName="visitSubstrate" class="form-control radio-button-horiz" />
          <span>Sand/Gravel</span>
        </label>
        <label>
          <input type="radio" value="Mud" formControlName="visitSubstrate" class="form-control radio-button-horiz" />
          <span>Mud</span>
        </label>
        <label>
          <input type="radio" value="Other" formControlName="visitSubstrate" class="form-control radio-button-horiz" />
          <label for="visitSubstrateOther" class="leading-label">Other:</label>
          <input type="text" formControlName="visitSubstrateOther" class="form-control" />
        </label>
      </div>
      <!-- Pool Disturbance -->
      <div>
        <label><u>4g) Pool Disturbance (check all that apply)</u></label>
        <html-dialog-app [htmlContent]="visitDialogText.visitDisturbance"></html-dialog-app>
      </div>
      <div class="form-group form-inline">
          <label>
            <input type="checkbox" formControlName="visitDisturbDumping" class="form-control radio-button-horiz"  />
            <span>Dumping</span>
          </label>
          <label>
            <input type="checkbox" formControlName="visitDisturbSiltation" class="form-control radio-button-horiz"  />
            <span>Siltation</span>
          </label>
          <label>
            <input type="checkbox" formControlName="visitDisturbVehicleRuts" class="form-control radio-button-horiz"  />
            <span>Vehicle ruts</span>
          </label>
          <label>
            <input type="checkbox" formControlName="visitDisturbRunoff" class="form-control radio-button-horiz"  />
            <span>Agricultural runoff</span>
          </label>
          <label>
            <input type="checkbox" formControlName="visitDisturbDitching" class="form-control radio-button-horiz"  />
            <span>Ditching/draining</span>
          </label>
          <label for="visitDisturbOther" class="leading-label">Other:</label>
          <input type="text" formControlName="visitDisturbOther" class="form-control" />
      </div>
    </form> <!-- visitPoolCharacteristicsForm -->

<form *ngIf="visitPage.index===4" [formGroup]="visitIndicatorSpeciesForm">
  <div>
    <label><u>5. Indicator Species | Provide a photograph of the pool & each indicator species (or egg masses) observed.</u></label>
  </div>
  <table class="table table-striped table-sm table-responsive">
    <tr>
      <th>Species Obseserved
        <html-dialog-app [htmlContent]="visitDialogText.visitSpeciesObserved"></html-dialog-app>
      </th>
      <th>Adults
        <html-dialog-app [htmlContent]="visitDialogText.visitAdults"></html-dialog-app>
      </th>
      <th>Tadpoles / Larvae
        <html-dialog-app [htmlContent]="visitDialogText.visitTadpolesLarvae"></html-dialog-app>
      </th>
      <th>Egg Mass Number
        <html-dialog-app [htmlContent]="visitDialogText.visitEggMassNumber"></html-dialog-app>
      </th>
      <th>Egg Mass Method
        <html-dialog-app [htmlContent]="visitDialogText.visitEggMassMethod"></html-dialog-app>
      </th>
      <th>Photo Upload
        <html-dialog-app [htmlContent]="visitDialogText.visitPhotoUpload"></html-dialog-app>
      </th>
      <th>Notes
        <html-dialog-app [htmlContent]="visitDialogText.visitSpeciesNotes"></html-dialog-app>
      </th>
    </tr>

    <tr class="form-group">
      <td>Wood Frog</td>
      <td><input type="text" formControlName="visitWoodFrogAdults" size="1" class="form-control" /></td>
      <td><input id="test" type="checkbox" formControlName="visitWoodFrogLarvae" class="form-control x4-checkbox" /></td>
      <td><input type="text" formControlName="visitWoodFrogEgg" size="1" class="form-control" /></td>
      <td>
        <select formControlName="visitWoodFrogEggHow" width="10" class="form-control">
         <option value="Estimated">Estimated</option>
         <option value="Counted">Counted</option>
        </select>

      </td>
        <td class="overlay-wrapper">
        <button class="overlay-button">Select</button>
        <input type="text" disabled="true" formControlName="visitWoodFrogPhoto" size="15" class="form-control overlay-input" />
      </td>

      <!--
      <td>
        <label class="btn btn-primary btn-file">
          Upload Photo
          <input type="file" style="display:none;" formControlName="visitWoodFrogPhoto"
            (change)="PhotoFileEvent($event)" size="15" class="form-control"/>
        </label>
      </td>
      -->
      <td><input type="text" formControlName="visitWoodFrogNotes" size="30" class="form-control" /></td>
    </tr>

    <tr class="form-group">
      <td>Spotted Salamander</td>
      <td><input type="text" formControlName="visitSpsAdults" size="1" class="form-control" /></td>
      <td><input type="checkbox" formControlName="visitSpsLarvae" size="1" class="form-control x4-checkbox" /></td>
      <td><input type="text" formControlName="visitSpsEgg" size="1" class="form-control" /></td>
      <td>
        <select formControlName="visitSpsEggHow" width="10" class="form-control">
         <option value="Estimated">Estimated</option>
         <option value="Counted">Counted</option>
        </select>
      </td>
      <td class="overlay-wrapper">
        <button class="overlay-button">Select</button>
        <input type="text" disabled="true" formControlName="visitSpsPhoto" size="15" class="form-control overlay-input" />
      </td>
      <td><input type="text" formControlName="visitSpsNotes" size="30" class="form-control" /></td>
    </tr>

    <tr class="form-group">
      <td>Jefferson Salamander</td>
      <td><input type="text" formControlName="visitJesaAdults" size="1" class="form-control" /></td>
      <td><input type="checkbox" formControlName="visitJesaLarvae" size="1" class="form-control x4-checkbox" /></td>
      <td><input type="text" formControlName="visitJesaEgg" size="1" class="form-control" /></td>
      <td>
        <select formControlName="visitJesaEggHow" width="10" class="form-control">
         <option value="Estimated">Estimated</option>
         <option value="Counted">Counted</option>
        </select>
      </td>
      <td class="overlay-wrapper">
        <button class="overlay-button">Select</button>
        <input type="text" disabled="true" formControlName="visitJesaPhoto" size="15" class="form-control overlay-input" />
      </td>
      <td><input type="text" formControlName="visitJesaNotes" size="30" class="form-control" /></td>
    </tr>

    <tr class="form-group">
      <td>Blue-spotted Salamander</td>
      <td><input type="text" formControlName="visitBssaAdults" size="1" class="form-control" /></td>
      <td><input type="checkbox" formControlName="visitBssaLarvae" size="1" class="form-control x4-checkbox" /></td>
      <td><input type="text" formControlName="visitBssaEgg" size="1" class="form-control" /></td>
      <td>
        <select formControlName="visitBssaEggHow" width="10" class="form-control">
         <option value="Estimated">Estimated</option>
         <option value="Counted">Counted</option>
        </select>
      </td>
      <td class="overlay-wrapper">
        <button class="overlay-button">Select</button>
        <input type="text" disabled="true" formControlName="visitBssaPhoto" size="15" class="form-control overlay-input" />
      </td>
      <td><input type="text" formControlName="visitBssaNotes" size="30" class="form-control" /></td>
    </tr>

    <tr class="form-group">
      <td>Fairy Shrimp</td>
      <td><input type="checkbox" formControlName="visitFairyShrimp" size="1" class="form-control x4-checkbox" /></td>
      <td></td>
      <td></td>
      <td></td>
      <td class="overlay-wrapper">
        <button class="overlay-button">Select</button>
        <input type="text" disabled="true" formControlName="visitFairyShrimpPhoto" size="15" class="form-control overlay-input" />
      </td>
      <td><input type="text" formControlName="visitFairyShrimpNotes" size="30" class="form-control" /></td>
    </tr>

    <tr class="form-group">
      <td>Fingernail Clams</td>
      <td><input type="checkbox" formControlName="visitFingerNailClams" size="1" class="form-control x4-checkbox  " /></td>
      <td></td>
      <td></td>
      <td></td>
      <td class="overlay-wrapper">
        <button class="overlay-button">Select</button>
        <input type="text" disabled="true" formControlName="visitFingerNailClamsPhoto" size="15" class="form-control overlay-input" />
      </td>
      <td><input type="text" formControlName="visitFingerNailClamsNotes" size="30" class="form-control" /></td>
    </tr>

    <tr class="form-group">
      <td>
        <input type="text" placeholder="Other..." formControlName="visitSpeciesOtherName" size="10" class="form-control" />
      </td>
      <td><input type="text" formControlName="visitSpeciesOtherCount" size="1" class="form-control" /></td>
      <td></td>
      <td></td>
      <td></td>
      <td class="overlay-wrapper">
        <button class="overlay-button">Select</button>
        <input type="text" disabled="true" formControlName="visitSpeciesOtherPhoto" size="15" class="form-control overlay-input" />
      </td>
      <td><input type="text" formControlName="visitSpeciesOtherNotes" size="30" class="form-control" /></td>
    </tr>
    <tr>
      <td>Comments:</td>
      <td colspan="6">
        <textarea placeholder="Comments..." formControlName="visitSpeciesComments" class="form-control"></textarea>
      </td>
    </tr>

  </table>

  <div class="form-group form-inline">
      <label>
        <span>Were Fish Observed?</span>
        <html-dialog-app [htmlContent]="visitDialogText.visitFish"></html-dialog-app>
        <input type="checkbox" formControlName="visitFish" class="form-control radio-button-horiz"  />
        <span>Yes</span>
      </label>
      <div *ngIf="indSpc.visitFish.value" class="form-inline">
        <label>
          ---
        </label>
        <label>How Many Fish?</label>
        <html-dialog-app [htmlContent]="visitDialogText.visitFishCount"></html-dialog-app>
        <label>
          <input type="radio" value="<10" formControlName="visitFishCount" class="form-control radio-button-horiz" />
          <span><10</span>
        </label>
        <label>
          <input type="radio" value="11-50" formControlName="visitFishCount" class="form-control radio-button-horiz" />
          <span>11-50</span>
        </label>
        <label>
          <input type="radio" value=">50" formControlName="visitFishCount" class="form-control radio-button-horiz" />
          <span>>50</span>
        </label>
      </div>
  </div>

</form> <!-- visitIndicatorSpeciesForm -->

<!--
  Action buttons
-->
<div class="form-group form-inline">
    <button *ngIf="visitPage.index===0 && itemType==='Visit New Pool'" class="btn btn-primary" (click)="CreateMappedPool()">Save Pool</button>
    <button *ngIf="itemType!='Visit New Pool'" [disabled]="itemType==='Visit New Pool' || visitPage.index===0 || (!poolId&&!visitId)" class="btn btn-primary" (click)="nextPage(-1)">Prev Page</button>
    <button *ngIf="itemType!='Visit New Pool'" [disabled]="itemType==='Visit New Pool' || visitPage.index===4 || (!poolId&&!visitId)" class="btn btn-primary" (click)="nextPage(1)">Next Page</button>
    <button [disabled]="itemType==='Visit New Pool' || (!poolId&&!visitId)"
    *ngIf="itemType!='Visit New Pool' && itemType!='View Visit'"
    class="btn btn-primary" (click)="CreateVisit()">
    Save</button>
    <img *ngIf="dataLoading" class="pl-3" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
    <button (click)="cancelVisit()" class="btn">Cancel</button>
    <button *ngIf="update && userIsAdmin" (click)="deleteVisit()" [disabled]="dataLoading" class="btn">Delete</button>
    <a *ngIf="!update && userIsAdmin && visitId" href="/pools/visit/update/{{visitId}}" class="btn btn-primary">Edit</a>
</div>
