<div id="map">

  <div *ngIf="itemType==='Home'" class="row">
    <div class="col-2">
      <button (click)="zoomVermontLeft($event)" class="topmost btn btn-link">Zoom Vermont</button>
    </div>
  </div>

  <div *ngIf="itemType!='Home'" class="row">
    <div class="col-2">
      <button (click)="zoomExtents($event)" class="topmost btn btn-link">Zoom to Pools</button>
    </div>
    <!--
    <div class="col-2">
      <label class="topmost text-input-block">Lat</label>
      <input class="topmost text-input-block" value="{{cursorLat}}" disabled=true size="6" />
    </div>
    <div class="col-2">
      <label class="topmost text-input-block">Lon</label>
      <input class="topmost text-input-block" value="{{cursorLng}}" disabled=true size="7" />
    </div>
    -->
  </div>
  <div *ngIf="itemType!='Home'" class="row">
    <div class="col-2">
      <button (click)="zoomVermont($event)" class="topmost btn btn-link">Zoom Vermont</button>
    </div>
  </div>
  <!--
  <div class="row">
    <div class="col-2">
      <button (click)="changeColor($event)" class="topmost btn btn-link">Change Color</button>
    </div>
  </div>
  -->
  <div *ngIf="itemType!='Home'" class="row">
    <div class="col-2">
      <table class="table table-sm topmost">
        <tr>
          <td style="width: 15%;">Lat</td>
          <td style="width: 85%;">
            <input value="{{cursorLat}}" disabled=true size="8" />
          </td>
        </tr>
        <tr>
          <td style="width: 15%;">Lon</td>
          <td style="width: 85%;">
            <input value="{{cursorLng}}" disabled=true size="8" />
          </td>
        <tr>
      </table>
    </div>
  </div>
</div>
