<div id="map">
  <div class="row">
    <div class="col-2">
      <button (click)="zoomExtents($event)" class="topmost btn btn-link">Zoom to Pools</button>
    </div>
  </div>
  <div class="row">
    <div class="col-2">
      <button (click)="zoomVermont($event)" class="topmost btn btn-link">Zoom Vermont</button>
    </div>
  </div>
  <!--
  <div class="row">
    <div class="col-2">
      <button (click)="changeColor($event)" class="topmost btn btn-link">Change Color</button>
    </div>
  </div>
  -->
</div>
