<div *ngIf="poolObj.visitId">
  <button (click)="ViewVisit()" class="btn btn-link">View Visit {{poolObj.visitId}}</button>
</div>
<div *ngIf="currentUser">
  <button (click)="CreateVisit()" class="btn btn-link">Add Visit for Pool {{poolObj.poolId}}</button>
</div>
<div *ngIf="userIsAdmin && poolObj.reviewId">
  <button (click)="ViewReview()" class="btn btn-link">View Review {{poolObj.reviewId}}</button>
</div>
<div *ngIf="userIsAdmin && poolObj.visitId">
  <button (click)="CreateReview()" class="btn btn-link">Add Review for Visit {{poolObj.visitId}}</button>
</div>
