<div *ngFor="let visit of visits">
  <button (click)="ViewVisit(visit)" class="btn btn-link">View Visit {{visit}}</button>
</div>
<div *ngIf="currentUser">
  <button (click)="CreateVisit()" class="btn btn-link">Add Visit for Pool {{poolObj.poolId}}</button>
</div>
<div *ngIf="userIsAdmin">
  <div *ngFor="let review of reviews">
    <button (click)="ViewReview(review)" class="btn btn-link">View Review {{review}}</button>
  </div>
</div>
<div *ngIf="userIsAdmin">
  <div *ngFor="let visit of visits">
    <button (click)="CreateReview(visit)" class="btn btn-link">Add Review for Visit {{visit}}</button>
  </div>
</div>
