<!--
  There is still a problem with using the '+ to navigate. We lose the state/context
  of the user, etc. and the user is logged-out on navigation. Possible solutions;

  - pass the 'state' when using angular [routerLink]
  https://www.geekstrick.com/pass-data-from-routes-to-components-in-angular/

  - open a separte browser tab when using router.navigate

  case 'Visit New Pool':
    //don't add links to the top - they just click on the point to get info about it
  case 'Visit Mapped Pool':
    //don't add links to the top - they just click on the point to select it

  case 'List Mapped Pool':
  case 'View Mapped Pool':
  case 'Edit Mapped Pool':

  case 'List Pools/Visits':
  case 'View Visit':
  case 'Edit Visit':
-->
<div *ngIf="itemType=='List Pools/Visits'">
  <div *ngFor="let visit of visits">
    <button (click)="ViewVisit(visit)" class="btn btn-link no-margin-rt no-margin-rt">View Visit {{visit}}</button>
    <button (click)="ViewVisit(visit, 1)" class="btn btn-link no-margin-rt no-margin-rt">(++)</button>
    <!--
    <a [routerLink]="['/pools/visit/view/', visit]" title="View Visit in separate tab" target="_blank">(+)</a>
    -->
  </div>
  <!--
  <div *ngFor="let survey of surveys">
    <button (click)="ViewSurvey(survey)" class="btn btn-link no-margin-rt no-margin-rt">View Survey {{survey}}</button>
    <a [routerLink]="['/survey/list/', survey]" title="View Survey in separate tab" target="_blank">(+)</a>
  </div>
  -->
  <div *ngIf="surveys.length">
    <button (click)="ViewSurveyPool(poolObj.poolId)" class="btn btn-link no-margin-rt no-margin-rt">View Pool Surveys</button>
    <a [routerLink]="['/survey/pool/', poolObj.poolId]" title="View Pool Surveys in separate tab" target="_blank">(+)</a>
  </div>
  <div *ngIf="currentUser">
    <button (click)="CreateVisit()" class="btn btn-link no-margin-rt">Add Visit for Pool {{poolObj.poolId}}</button>
    <a [routerLink]="['/pools/visit/create/', poolObj.poolId]" title="Add Visit in separate tab" target="_blank">(+)</a>
  </div>
  <div *ngIf="userIsAdmin">
    <div *ngFor="let review of reviews">
      <button (click)="ViewReview(review)" class="btn btn-link no-margin-rt">View Review {{review}}</button>
      <a [routerLink]="['/review/view/', review]" title="View Review in separate tab" target="_blank">(+)</a>
    </div>
  </div>
  <div *ngIf="userIsAdmin">
    <div *ngFor="let visit of visits">
      <button (click)="CreateReview(visit)" class="btn btn-link no-margin-rt">Add Review for Visit {{visit}}</button>
      <a [routerLink]="['/review/create/', visit]" title="Add Review in separate tab" target="_blank">(+)</a>
    </div>
  </div>
</div>

<!-- Viewing a single Visit. Edit Visit or View Review -->
<div *ngIf="itemType=='View Visit'">
  <div *ngIf="poolObj.visitId">
    <div *ngIf="userIsAdmin||userIsOwner">
      <button (click)="EditVisit(poolObj.visitId)" class="btn btn-link no-margin-rt">Edit Visit {{poolObj.visitId}}</button>
      <button (click)="EditVisit(visit, 1)" class="btn btn-link no-margin-rt no-margin-rt">(++)</button>
      <!--
      <a [routerLink]="['/pools/visit/view/', poolObj.visitId]" title="Edit Visit in separate tab" target="_blank">(+)</a>
      -->
    </div>
    <div *ngIf="userIsAdmin">
      <button (click)="CreateReview(poolObj.visitId)" class="btn btn-link no-margin-rt">Add Review for Visit {{poolObj.visitId}}</button>
      <a [routerLink]="['/review/create/', poolObj.visitId]" title="Add Review in separate tab" target="_blank">(+)</a>
    </div>
    <div *ngIf="userIsAdmin&&poolObj.reviewId">
      <button (click)="ViewReview(poolObj.reviewId)" class="btn btn-link no-margin-rt">View Review {{poolObj.reviewId}}</button>
      <a [routerLink]="['/review/view/', poolObj.reviewId]" title="View Review in separate tab" target="_blank">(+)</a>
    </div>
  </div>
  <div *ngIf="surveys.length">
    <button (click)="ViewSurveyPool(poolObj.poolId)" class="btn btn-link no-margin-rt no-margin-rt">View Pool Surveys</button>
    <button (click)="ViewSurveyPool(poolObj.poolId, 1)" class="btn btn-link no-margin-rt no-margin-rt">(++)</button>
  </div>
</div>

<!-- Mapped pools. Simple UI to view/edit pools. -->
<div *ngIf="itemType=='List Mapped Pool'">
  <div *ngIf="userIsAdmin">
    <button (click)="ViewMapped(poolObj.mappedPoolId)" class="btn btn-link no-margin-rt">View Mapped Pool {{poolObj.mappedPoolId}}</button>
    <a [routerLink]="['/pools/mapped/view/', poolObj.mappedPoolId]" title="View Pool in separate tab" target="_blank">(+)</a>
  </div>
</div>
<div *ngIf="itemType=='View Mapped Pool'">
  <div *ngIf="userIsAdmin">
    <button (click)="EditMapped(poolObj.mappedPoolId)" class="btn btn-link no-margin-rt">Edit Mapped Pool {{poolObj.mappedPoolId}}</button>
    <a [routerLink]="['/pools/mapped/update/', poolObj.mappedPoolId]" title="Edit Pool in separate tab" target="_blank">(+)</a>
  </div>
</div>
