
<div class="row">

  <div class="col-2 content-left-border-right">
    <h4><u>Vernal Pool Atlas</u></h4>
    <fieldset id="poolStatus"> <!-- for radio-button grouping -->
    <table class="table table-sm">
      <th style="width: 70%;"></th>
      <th style="width: 30%;"></th>

      <tr>
        <td>
          <label>
            <input checked name="poolStatus" type="radio" (click)="setStatusLoadPools('')" class="radio-button-justify-left" />
            <span>All Pools</span>
          </label>
        </td>
        <td>{{stats.total}}</td>
      </tr>

      <tr>
        <td>
          <label>
            <input name="poolStatus" type="radio" (click)="setStatusLoadPools('Potential')" class="radio-button-justify-left" />
            <span>Potential</span>
          </label>
        </td>
        <td>{{stats.potential}}</td>
      </tr>

      <tr>
        <td>
          <label>
            <input name="poolStatus" type="radio" (click)="setStatusLoadPools('Probable')" class="radio-button-justify-left" />
            <span>Probable</span>
          </label>
        </td>
        <td>{{stats.probable}}</td>
      </tr>

      <tr>
        <td>
          <label>
            <input name="poolStatus" type="radio" (click)="setStatusLoadPools('Confirmed')" class="radio-button-justify-left" />
            <span>Confirmed</span>
          </label>
        </td>
        <td>{{stats.confirmed}}</td>
      </tr>

      <tr>
        <td>
          <label class="disabled">
            <input disabled name="poolStatus" type="radio" (click)="setStatusLoadPools('Monitored')" class="radio-button-justify-left" />
            <span>Monitored</span>
          </label>
        </td>
        <td>{{stats.monitored}}</td>
      </tr>

    </table>

    </fieldset>
<!--
<table class="table table-sm form-group">
  <th style="width: 50%;"></th>
  <th style="width: 50%;"></th>
      <tr>
          <td class="vert-aligned"><button (click)="setStatusLoadPools('')">All Pools</button></td>
          <td class="vert-aligned">{{stats.total}}</td>
      </tr>
      <tr>
          <td class="vert-aligned"><button (click)="setStatusLoadPools('Potential')">Potential Pools</button></td>
          <td class="vert-aligned">{{stats.potential}}</td>
      </tr>
      <tr>
          <td class="vert-aligned"><button (click)="setStatusLoadPools('Probable')">Probable Pools</button></td>
          <td class="vert-aligned">{{stats.probable}}</td>
      </tr>
      <tr>
          <td class="vert-aligned"><button (click)="setStatusLoadPools('Confirmed')">Confirmed Pools</button></td>
          <td class="vert-aligned">{{stats.confirmed}}</td>
      </tr>
      <tr>
          <td class="vert-aligned"><button (click)="setStatusLoadPools('Monitored')">Monitored Pools</button></td>
          <td class="vert-aligned">{{stats.monitored}}</td>
      </tr>
    </table>
-->

    <h4><u>Search Pools/Visits</u></h4>
    <!--
    There's a performance issue here with search filters:
    - use keyup if the result set is small (<100)
    - use keyup.enter and keyup.tab otherwise
    - to be safe, do the latter
    -->
    <form [formGroup]="filterForm">
      <table class="table table-sm"> <!-- odd discovery: table without <tr>, <td> does nice things -->
        <th style="width: 50%;"></th>
        <th style="width: 50%;"></th>
        <tr class="form-group">
          <td for="visitId">Visit ID</td>
          <td>
            <input (keyup.enter)="loadPools(1)" (keyup.tab)="loadPools(1)" type="text" formControlName="visitId" class="form-control"/>
          </td>
        </tr>
        <tr class="form-group">
          <td for="visitPoolId">Pool ID</td>
          <td>
            <input (keyup.enter)="loadPools(1)" (keyup.tab)="loadPools(1)" type="text"  formControlName="poolId" class="form-control"/>
          </td>
        </tr>
        <tr class="form-group">
          <td for="visitUserName">User</td>
          <td>
            <input (keyup.enter)="loadPools(1)" (keyup.tab)="loadPools(1)" formControlName="userName" class="form-control"/>
          </td>
        </tr>
        <tr class="form-group">
          <td>Town</td>
          <td>
            <input (keyup.enter)="loadPools(1)" (keyup.tab)="loadPools(1)" formControlName="town" class="form-control"/>
          </td>
        </tr>
        <tr class="form-group">
          <td>Method</td>
          <td>
            <!--
            <input (keyup.enter)="loadPools(1)" (keyup.tab)="loadPools(1)" formControlName="mappedMethod" class="form-control"/>
            -->
            <select (change)="loadPools(1)" formControlName="mappedMethod" class="form-control">
              <option value="">All</option>
              <option value="Aerial">Aerial</option>
              <option value="Known">Known</option>
              <option value="Visit">Visit</option>
            </select>
          </td>
        </tr>
      </table>
    </form>
  </div> <!-- col-2 -->

  <div class="col-10">
    <div *ngIf="!loading">
      <div class="row">
        <div> <!-- OMFG, all vertical alignment issues were due to different div levels!!! -->
          <button (click)="checkBoxSetValue(true)" class="btn btn-link">{{count}} Records</button>
          <button *ngIf="!mapView" (click)="showMap()" class="btn btn-link">Map View</button>
          <button *ngIf="mapView" (click)="showTable()" class="btn btn-link">Table View</button>
        </div>
        <label class="btn btn-link vert-align-mid" style="vertical-align:bottom;">
          <input [checked]="loadAllRec" (change)="checkBoxValueChanged($event)" type="checkbox" class="radio-button-justify-left"/>
          <span>Load All</span>
        </label>
        <!--
        <input [checked]="loadAllRec" (change)="checkBoxValueChanged($event)" type="checkbox" />
        <button (click)="loadAll()" class="btn btn-link">Load All</button>
        -->
        <span *ngIf="!loadAllRec">
          <button (click)="firstPage()" class="btn btn-link">|< First</button>
          <button (click)="prevPage()" class="btn btn-link"><< Prev</button>
          <button class="btn btn-link">Page {{page}}</button>
          <button (click)="nextPage()" class="btn btn-link">Next >></button>
          <button (click)="lastPage()" class="btn btn-link">Last >|</button>
        </span>
      </div>

      <div *ngIf="!mapView" class="container-fluid">
        <table class="table table-sm table-responsive" style="width:105%">
          <div style="height:550px; overflow:auto;">
          <thead>
            <tr>
                <th class="body-scroll-align-columns">Pool</th>
                <th class="body-scroll-align-columns">Mapped By</th>
                <th class="body-scroll-align-columns">Mapped Town</th>
                <th class="body-scroll-align-columns">Method</th>
                <th class="body-scroll-align-columns">Status</th>
                <th class="body-scroll-align-columns">Mapped Lat</th>
                <th class="body-scroll-align-columns">Mapped Lng</th>

                <th class="body-scroll-align-columns">Visit</th>
                <th class="body-scroll-align-columns">Visit User</th>
                <th class="body-scroll-align-columns">Visit Date</th>
                <th class="body-scroll-align-columns">Vernal Pool?</th>
                <th class="body-scroll-align-columns">Visit Lat</th>
                <th class="body-scroll-align-columns">Visit Lng</th>
              </tr>
          </thead>
          <!--
          <div style="width: 100%; height: 550px; overflow: scroll;">
          -->
          <tbody>
            <tr *ngFor="let pool of pools">
                <!--
                <td class="vert-aligned body-scroll-align-columns"><a [routerLink]="['/pools/mapped/view/', pool.mappedPoolId]" class="btn btn-link">{{pool.mappedPoolId}}</a></td>
                -->
                <td class="vert-aligned body-scroll-align-columns"><a [routerLink]="['/pools/visit/create/', pool.mappedPoolId]" class="btn btn-link">{{pool.mappedPoolId}}</a></td>
                <td class="vert-aligned body-scroll-align-columns">{{pool.mappedByUser}}</td>
                <td class="vert-aligned body-scroll-align-columns">{{pool.mappedTown.townName}}</td>
                <td class="vert-aligned body-scroll-align-columns">{{pool.mappedMethod}}</td>
                <td class="vert-aligned body-scroll-align-columns">{{pool.mappedPoolStatus}}</td>
                <td class="vert-aligned body-scroll-align-columns">{{pool.mappedLatitude}}</td>
                <td class="vert-aligned body-scroll-align-columns">{{pool.mappedLongitude}}</td>

                <span *ngIf="pool.visitId">
                  <td class="vert-aligned body-scroll-align-columns"><a [routerLink]="['/pools/visit/view/', pool.visitId]" class="btn btn-link">{{pool.visitId}}</a></td>
                </span>
                <span *ngIf="!pool.visitId">
                  <td class="vert-aligned body-scroll-align-columns"></td>
                </span>
                <td class="vert-aligned body-scroll-align-columns">{{pool.visitUserName}}</td>
                <td class="vert-aligned body-scroll-align-columns">{{pool.visitDate}}</td>
                <td class="vert-aligned body-scroll-align-columns">{{pool.visitVernalPool}}</td>
                <td class="vert-aligned body-scroll-align-columns">{{pool.visitLatitude}}</td>
                <td class="vert-aligned body-scroll-align-columns">{{pool.visitLongitude}}</td>
            </tr>
          </tbody>
        </div>
        </table>
      </div>

      <div *ngIf="mapView">
        <app-map-comp
          [mapPoints]="mapPoints"
          [mapValues]="pools"
          [itemType]="itemType">
        </app-map-comp>
      </div>

    </div> <!-- loading -->

    <div *ngIf="loading">
      ...Loading
    </div>

  </div><!-- col-10 -->

</div><!-- row -->
