.pools-table-div {
  display: inline-block;
  height: 550px;
  overflow: auto
}

.pools-table-div th {
  position: -webkit-sticky;
  position: sticky;
  top: 0; /*must be zero for sticky to work*/
  background: lightgray;
}

.pools-table-div td {
  font-size: 14px;
}


.pools-table-div th, td {
  padding: .1em .1em;
}


.pools-table-div table tr {
  color: #212121;
}

.pools-table-div table tr:nth-child(odd) {
  background-color: #BBDEFB;
}

/* Start by setting display:none to make this hidden.
   Then we position it in relation to the viewport window
   with position:fixed. Width, height, top and left speak
   for themselves. Background we set to 80% white with
   our animation centered, and no-repeating */
.loading_overlay {
    display:    none;
    position:   fixed;
    z-index:    1000;
    top:        0;
    left:       0;
    height:     100%;
    width:      100%;
    background: rgba( 255, 255, 255, .8 )
                url('http://i.stack.imgur.com/FhHRx.gif')
                50% 50%
                no-repeat;
}

/* When anything has the vce_loading class, we turn
   the scrollbar off with overflow:hidden */

/* Anytime anything has the vce_loading class, our
   modal element will be visible */
.show_loading_overlay {
    display: block;
    overflow: hidden;
}
.center {
  line-height: 600px;
  height: 600px;
  text-align: center;
    margin: auto;
    width: 50%;
    font-size: 20;
}

/*
alignment changes for info icons...
*/
.info-icon-padding {
  margin-left: 0;
  padding-left: 20px;
  margin-right: 0;
  padding-right: 0;
}

/* styles just for the info icon */
.info-icon {
  padding-left: 5px;
  padding-top: 5px;
}
