<jw-modal id="vppools_help_info">
  <!--
    <h3>{{modalTitle}}</h3>
    <input type="text" [(ngModel)]="modalText" />
  -->
    <button (click)="closeModal('vppools_help_info');">Close</button>
</jw-modal>

<div class="row">
  <div class="col-2 content-left-border-right">
    <h4><u>Vernal Pool Atlas</u>
    <i (click)="openModal('vppools_help_info', 'radioSearch')" class="fa fa-info-circle no-margins link"></i>
    </h4>
<form [formGroup]="filterForm">

    <fieldset id="poolStatus"> <!-- for radio-button grouping -->
    <table class="table table-sm">
      <th style="width: 70%;"></th>
      <th style="width: 30%;"></th>
      <tr *ngIf="true">
        <td>
          <label>
            <input checked formControlName="poolDataType" type="radio" value="All" class="radio-button-justify-left"
              (click)="setDataTypeLoadPools('')"
              (change)="setDataTypeLoadPools('')"
            />
            <span>All Pools</span>
          </label>
        </td>
        <td>{{stats.total}}</td>
      </tr>
      <tr *ngIf="currentUser">
        <td>
          <label>
            <!--
            <input formControlName="poolDataType" type="radio" value="Mine" (change)="setDataTypeLoadPools('Mine')" class="radio-button-justify-left" />
            NOTE: Add a (click) call below for testing...
            -->
            <input formControlName="poolDataType" type="radio" value="Mine" class="radio-button-justify-left"
              (click)="setDataTypeLoadPools('Mine')"
              (change)="setDataTypeLoadPools('Mine')"
            />
            <span>My Data</span>
          </label>
        </td>
        <td>{{stats.mine}}</td>
      </tr>

      <tr *ngIf="userIsAdmin">
        <td><label>
            <input formControlName="poolDataType" type="radio" value="Review" class="radio-button-justify-left"
              (click)="setDataTypeLoadPools('Review')"
              (change)="setDataTypeLoadPools('Review')"
            />
            <span>Review</span>
        </label></td>
        <td>{{stats.review}}</td>
      </tr>
      <tr *ngIf="true">
        <td>
          <label>
            <input formControlName="poolDataType" type="radio" value="Visited" class="radio-button-justify-left"
              (click)="setDataTypeLoadPools('Visited')"
              (change)="setDataTypeLoadPools('Visited')"
            />
            <span>Visited</span>
          </label>
        </td>
        <td>{{stats.visited}}</td>
      </tr>
      <tr *ngIf="true">
        <td>
          <label>
            <input formControlName="poolDataType" type="radio" value="Monitored" class="radio-button-justify-left"
              (click)="setDataTypeLoadPools('Monitored')"
              (change)="setDataTypeLoadPools('Monitored')"
            />
            <span>Monitored</span>
          </label>
        </td>
        <td>{{stats.monitored}}</td>
      </tr>

    </table>

    </fieldset>

</form>

    <h4><u>Filter Pools/Visits</u>
      <i (click)="openModal('vppools_help_info', 'searchFilters')" class="fa fa-info-circle no-margins link"></i>
    </h4>
    <label class="btn btn-link info-icon-padding">
      <input [checked]="zoomFilter" (change)="filterZoom($event)" type="checkbox" class="radio-button-justify-left"/>
      <span>Zoom Only</span>
    </label>
    <i (click)="openModal('vppools_help_info', 'zoomFilter')" class="fa fa-info-circle no-margins link"></i>
    <button (click)="ClearFilters()" class="btn btn-link">Clear Search Filters</button>
    <!--
    There's a performance issue here with search filters:
    - use keyup if the result set is small (<100)
    - use keyup.enter and keyup.tab otherwise
    - to be safe, do the latter
    -->
    <form [formGroup]="filterForm">
      <table class="table table-sm"> <!-- odd discovery: table without <tr>, <td> does nice things -->
        <th style="width: 35%;"></th>
        <th style="width: 65%;"></th>
<!--
        <tr class="form-group">
          <td for="visitId">Visit ID</td>
          <td>
            <input (change)="loadPools(1)" type="text" formControlName="visitId" class="form-control"/>
          </td>
        </tr>
-->
        <tr class="form-group">
          <td for="poolId">Pool ID</td>
          <td>
            <input (keyup.enter)="loadPools(1)" (change)="loadPools(1)" type="text"  formControlName="poolId" class="form-control"/>
          </td>
        </tr>
        <tr class="form-group">
          <td for="town">Town</td>
          <td>
            <select (change)="loadPools(1)" (keyup.delete)="clearTown()" [compareWith]="uxValuesService.compareTownFn" formControlName="town" class="form-control">
              <option *ngFor="let town of uxValuesService.towns" [ngValue]="town">
                {{ town.townName }}
              </option>
            </select>
          </td>
        </tr>
        <tr class="form-group">
          <td for="userName">User</td>
          <td>
            <input (keyup.enter)="loadPools(1)" (change)="loadPools(1)" formControlName="userName" class="form-control"/>
          </td>
        </tr>
        <tr class="form-group">
          <td for="visitHasIndicator">Indicator Species</td>
          <td>
            <input [checked]="visitHasIndicator" (change)="visitHasIndicatorChecked($event)" type="checkbox" class="form-control radio-button-justify-left"/>
          </td>
        </tr>
<!--
        <tr class="form-group">
          <td>Method</td>
          <td>
            <select (change)="loadPools(1)" formControlName="mappedMethod" class="form-control">
              <option value="">All</option>
              <option value="Aerial">Aerial</option>
              <option value="Known">Known</option>
              <option value="Visit">Visit</option>
            </select>
          </td>
        </tr>
-->
      </table>
    </form>
  </div> <!-- col-2 -->

  <div class="col-10">
    <!-- <div *ngIf="!loading"> -->
      <div class="row">
        <div> <!-- OMFG, all vertical alignment issues were due to different div levels!!! -->
          <button class="btn btn-link info-icon-padding">{{count}} Records</button>
          <i (click)="openModal('vppools_help_info', 'recordCount')" class="fa fa-info-circle link"></i>
          <button *ngIf="!mapView" (click)="showMap()" class="btn btn-link info-icon-padding">Map View</button>
          <button *ngIf="mapView" (click)="showTable()" class="btn btn-link info-icon-padding">Table View</button>
          <i (click)="openModal('vppools_help_info', 'mapViewTableView')" class="fa fa-info-circle link"></i>
        </div>
        <label class="btn btn-link info-icon-padding">
          <input [checked]="loadAllRec" (change)="loadAllRecChecked($event)" type="checkbox" class="radio-button-justify-left"/>
          <span>Load All</span>
        </label>
        <div>
          <i (click)="openModal('vppools_help_info', 'loadAll')" class="fa fa-info-circle link info-icon"></i>
        </div>
        <span *ngIf="!loadAllRec">
          <button (click)="firstPage()" class="btn btn-link">|< First</button>
          <button (click)="prevPage()" class="btn btn-link"><< Prev</button>
          <button class="btn btn-link">Page {{page}}</button>
          <button (click)="nextPage()" class="btn btn-link">Next >></button>
          <button (click)="lastPage()" class="btn btn-link">Last >|</button>
        </span>
      </div>

      <!--
      https://stackoverflow.com/questions/11891065/css-only-scrollable-table-with-fixed-headers
      -->
      <div *ngIf="!loading">
      <div *ngIf="!mapView"> <!-- <div *ngIf="!mapView" class="container-fluid"> -->
        <div class="pools-table-div"> <!-- style="display: inline-block; height:550px; overflow:auto;"> -->
        <table> <!-- class="table table-sm table-responsive"> responsive mucks overflow, etc. -->
          <thead>
            <tr>
                <th class="body-scroll-align-columns">Pool ID</th>
                <th class="body-scroll-align-columns">User (Mapped)</th>
                <th class="body-scroll-align-columns">Town</th>
                <th class="body-scroll-align-columns">Method</th>
                <th class="body-scroll-align-columns">Status</th>
                <th class="body-scroll-align-columns">Latitude</th>
                <th class="body-scroll-align-columns">Longitude</th>

                <th class="body-scroll-align-columns">Visit</th>
                <th class="body-scroll-align-columns">User (Visit)</th>
                <th class="body-scroll-align-columns">Visit Date</th>
                <th class="body-scroll-align-columns">Vernal Pool?</th>
                <!-- <span *ngIf="userIsAdmin"> -->
                <th class="body-scroll-align-columns">Review</th>
                <!-- <th class="body-scroll-align-columns">User(Review)</th> -->
                <!-- </span> -->
                <th class="body-scroll-align-columns">Survey</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let pool of pools">
                <!--
                <td class="vert-aligned body-scroll-align-columns"><a [routerLink]="['/pools/mapped/view/', pool.poolId]" class="btn btn-link">{{pool.poolId}}</a></td>
                -->
                <td title="Add a visit for pool {{pool.poolId}}" class="vert-aligned body-scroll-align-columns">
                  <a [routerLink]="['/pools/visit/create/', pool.poolId]" class="btn btn-link">{{pool.poolId}}</a>
                </td>
                <td class="vert-aligned body-scroll-align-columns">{{pool.mappedByUser}}</td>
                <td class="vert-aligned body-scroll-align-columns">{{pool.townName}}</td>
                <td class="vert-aligned body-scroll-align-columns">{{pool.mappedMethod}}</td>
                <td class="vert-aligned body-scroll-align-columns">{{pool.poolStatus}}</td>
                <td class="vert-aligned body-scroll-align-columns">{{pool.latitude}}</td>
                <td class="vert-aligned body-scroll-align-columns">{{pool.longitude}}</td>
                <!-- Visits -->
                <span *ngIf="pool.visitId">
                  <td title="View visit {{pool.visitId}}" class="vert-aligned body-scroll-align-columns">
                    <a [routerLink]="['/pools/visit/view/', pool.visitId]" class="btn btn-link">{{pool.visitId}}</a>
                  </td>
                </span>
                <span *ngIf="!pool.visitId">
                    <td class="vert-aligned body-scroll-align-columns">
                      <span *ngIf="currentUser">
                        <a [routerLink]="['/pools/visit/create/', pool.poolId]" class="btn btn-link">(+)</a>
                      </span>
                    </td>
                </span>
                <td class="vert-aligned body-scroll-align-columns">{{pool.visitUserName}}</td>
                <td class="vert-aligned body-scroll-align-columns">{{pool.visitDate}}</td>
                <td class="vert-aligned body-scroll-align-columns">{{pool.visitVernalPool}}</td>
                <!-- Reviews -->
                <td class="vert-aligned body-scroll-align-columns" style="inline-block;">
                  <span *ngIf="userIsAdmin&&pool.visitId">
                    <span *ngIf="pool.reviewId">
                        <a [routerLink]="['/review/view/', pool.reviewId]" title="View Review {{pool.reviewId}}"
                        >{{pool.reviewId}}</a>
                    </span>
                    <span *ngIf="!pool.reviewId">
                        <!--<button (click)="GetVisitReviews(pool.visitId)" class="btn btn-link no-margin-rt">View/Add</button>-->
                        <a [routerLink]="['/review/create/', pool.visitId]" title="Add Review of Visit {{pool.visitId}}"
                        >(+)</a>
                    </span>
                  </span>
                </td>
                <!-- Surveys -->
                <td title="" class="vert-aligned body-scroll-align-columns" style="inline-block;">
                  <span *ngIf="pool.surveyId">
                      <a [routerLink]="['/survey/view/', pool.surveyId]" title="View Survey {{pool.surveyId}}"
                      >{{pool.surveyId}}</a>
                  </span>
                </td>
            </tr>
          </tbody>
        </table>
      </div>
      </div>

      <div *ngIf="mapView">
        <app-map-comp
          [mapPoints]="mapPoints"
          [mapValues]="pools"
          [itemType]="itemType"
          [zoomTo]="zoomTo"
          >
        </app-map-comp>
      </div>

    </div> <!-- loading -->

    <div *ngIf="loading" class="loading_overlay show_loading_overlay">
      <!-- <div class="center">{{seconds}}</div> -->
    </div>

  </div><!-- col-10 -->

</div><!-- row -->
