<!-- nav -->
<nav class="navbar navbar-expand navbar-dark bg-dark"> <!-- *ngIf="currentUser"> -->
    <div class="navbar-nav">
        <a class="nav-item nav-link" routerLink="/">Home</a>
        <a class="nav-item nav-link" routerLink="/pools/mapped/list" >(Mapped Pools)</a>
        <!--
        <a class="nav-item nav-link" routerLink="/pools/mapped/create" *ngIf="currentUser" >Add Pool</a>
        -->
        <a class="nav-item nav-link" routerLink="/pools/visit/list" >(Pool Visits)</a>
        <!--
        <a class="nav-item nav-link" routerLink="/pools/visit/create" *ngIf="userIsAdmin" >Add Visit</a>
        <a class="nav-item nav-link" routerLink="/pools/list" >Search Pool Data</a>
        -->
        <a class="nav-item nav-link" routerLink="/pools/visit/create" *ngIf="userIsAdmin" >Add Pool Data</a>
        <!--
        <a class="nav-item nav-link" routerLink="/pools/mapped/import" >Import Pools</a>
        -->
        <a class="nav-item nav-link" routerLink="/admin" *ngIf="userIsAdmin" >Admin</a>
        <!--
        <a class="nav-item nav-link" routerLink="/user" *ngIf="currentUser" >Profile</a>
        -->
        <a class="nav-item nav-link" (click)="logout()" *ngIf="currentUser" >Logout</a>
        <a class="nav-item nav-link" routerLink="/login" *ngIf="!currentUser" >Login/Register</a>
    </div>
</nav>

<!-- main app container -->
<div id="jumbotron" class="jumbotron">
    <div id="container" class="container-fluid"> <!-- fluid makes content fit the device's screen -->
        <div class="row">
            <div class="col-12">
                <alert></alert>
                <router-outlet></router-outlet>
            </div>
        </div>
    </div>
</div>

<!-- credits -->
<div class="footer text-center">
    <p>
        VPAtlas is a joint effort of the
        <a href="http://vtecostudies.org" target="_top">Vermont Center for Ecostudies</a>
        and
        <a href="https://vtfishandwildlife.com/" target="_top">Vermont Fish and Wildlife</a>
    </p>
</div>
