<!-- nav -->
<div *ngIf="bannerMessage" class="row dev-background">
  <div class="col-lg-2"></div>
  <div class="col-lg-8">
    {{bannerMessage}}
  </div>
  <div class="col-lg-2"></div>
</div>

<div class="row" style="display:flex; align-items:center; flex-wrap:nowrap; background:white; border-bottom:2px solid #00554a;">

  <div style="padding-left:15px; flex:0 0 auto; width:auto;">
    <a href="src/vpatlas_banner.jpg" style="display:inline-block; line-height:0;">
      <img [src]="vceLogoPath" height="26px" alt="VCE Vernal Pool Mapping Project">
    </a>
  </div>

  <div style="flex:1;">
    <nav class="navbar navbar-expand navbar-light" style="background:white;">
        <ul class="navbar-nav">

            <li class="nav-item" *ngIf="!userIsAdmin">
              <a class="nav-link" routerLink="/pools/list">View Pools</a>
            </li>

            <li class="nav-item dropdown" *ngIf="userIsAdmin">
              <a class="nav-link dropdown-toggle"
                id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                View Pools
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" routerLink="/pools/list" >All Data</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" routerLink="/pools/mapped/list" *ngIf="userIsAdmin">(Mapped Pools)</a>
                <a class="dropdown-item" routerLink="/pools/visit/list" *ngIf="userIsAdmin">(Pool Visits)</a>
              </div>
            </li>

            <li class="nav-item">
              <a class="nav-link" href="https://val.vtecostudies.org/projects/vermont-vernal-pool-atlas/">About VPAtlas</a>
            </li>

            <li class="nav-item">
              <a class="nav-link" href="https://val.vtecostudies.org/projects/vermont-vernal-pool-atlas/help-us-find-and-map-vernal-pools/">Volunteer How To</a>
            </li>
<!--
            <li class="nav-item dropdown" *ngIf="!userIsAdmin && currentUser">
              <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Download
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" (click)="download('csv')">CSV</a>
                <a class="dropdown-item" (click)="download('geojson')">GeoJson</a>
                <a class="dropdown-item" (click)="download('shapefile')">Shape File</a>
              </div>
            </li>
-->
            <!--<li class="nav-item dropdown" *ngIf="userIsAdmin">-->
            <li class="nav-item dropdown" *ngIf="currentUser">
                <a class="nav-link dropdown-toggle" (click)="downloadTopLevelClick($event)" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Download
              </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item" (click)="dropdownSubMenuToggle($event, 'dropCsv')">CSV <span class="fa-caret"></span></a>
                    <ul id="dropCsv" class="dropdown-menu">
                      <!--<a class="dropdown-item" (click)="download('csv')">Selected Pools</a>-->
                      <a class="dropdown-item" (click)="download('csv', 'mapped')">Mapped Pools (.csv)</a>
                      <a class="dropdown-item" (click)="download('csv', 'visit')">Pool Visits (.csv)</a>
                      <a class="dropdown-item" (click)="download('csv', 'survey')">Pool Surveys (.csv)</a>
                    </ul>
                  <a class="dropdown-item" (click)="dropdownSubMenuToggle($event, 'dropGeo')">GeoJSON <span class="fa-caret"></span></a>
                    <ul id="dropGeo" class="dropdown-menu">
                      <!--<a class="dropdown-item" (click)="download('geojson')">Selected Pools</a>-->
                      <a class="dropdown-item" (click)="download('geojson', 'mapped')">Mapped Pools (.geojson)</a>
                      <a class="dropdown-item" (click)="download('geojson', 'visit')">Pool Visits (.geojson)</a>
                      <a class="dropdown-item" (click)="download('geojson', 'survey')">Pool Surveys (.geojson)</a>
                    </ul>
                  <a class="dropdown-item" (click)="dropdownSubMenuToggle($event, 'dropShp')">Shapefile <span class="fa-caret"></span></a>
                    <ul id="dropShp" class="dropdown-menu">
                      <!--<a class="dropdown-item" (click)="download('shapefile')">Selected Pools</a>-->
                      <a class="dropdown-item" (click)="download('shapefile', 'mapped')">Mapped Pools (tar.gz)</a>
                      <a class="dropdown-item" (click)="download('shapefile', 'visit')">Pool Visits (tar.gz)</a>
                      <a class="dropdown-item" (click)="download('shapefile', 'survey')">Pool Surveys (tar.gz)</a>
                      <a class="dropdown-item" (click)="downloadUtil('untar')">Windows Untar (.bat)</a>
                    </ul>
                </div>
            </li>

            <li class="nav-item" *ngIf="!userIsAdmin">
              <a class="nav-link" routerLink="/pools/visit/create">Add Data</a>
            </li>

            <li class="nav-item dropdown" *ngIf="userIsAdmin">
              <a class="nav-link dropdown-toggle"
                id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Add Data
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" routerLink="/pools/visit/create">Add Pool Visit</a>
                <a class="dropdown-item" routerLink="/pools/mapped/create">(Add Mapped Pool)</a>
                <a class="dropdown-item" routerLink="/pools/visit/upload">(Visit CSV Upload)</a>
                <a class="dropdown-item" routerLink="/pools/visit/s123load">(Visit API Load)</a>
                <a class="dropdown-item" routerLink="/survey/upload">(VPMon CSV UPload)</a>
                <a class="dropdown-item" routerLink="/survey/s123load">(VPMon API Load)</a>
              </div>
            </li>

            <li class="nav-item" *ngIf="userIsAdmin">
              <a class="nav-item nav-link" routerLink="/review/list">Reviews</a>
            </li>

            <li class="nav-item">
              <a class="nav-item nav-link" routerLink="/survey/list">Explore Surveys</a>
            </li>

            <li class="nav-item dropdown" *ngIf="userIsAdmin">
              <a class="nav-link dropdown-toggle"
                id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Admin
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" routerLink="/users">Users</a>
                <a class="dropdown-item" (click)="profile()">Profile</a>
                <a class="dropdown-item" routerLink="/utils/timer">Email Timer</a>
                <!-- <a class="dropdown-item" routerLink="/uploads">Upload Logs</a> -->
              </div>
            </li>

            <li class="nav-item" *ngIf="!userIsAdmin&&currentUser" >
              <a class="nav-item nav-link" (click)="profile()">Profile</a>
            </li>

        </ul>
      </nav>
  </div> <!-- flex:1 navbar -->
  <div style="white-space:nowrap; padding-right:20px; flex:0 0 auto;">
    <a class="login-link" style="cursor:pointer;" (click)="logout()" *ngIf="currentUser">Logout ({{currentUser.user.username}})</a>
    <a class="login-link" routerLink="/login" *ngIf="!currentUser">Login/Register</a>
  </div>
</div> <!-- row:navbar -->

<!-- main app container
<div id="jumbotron" class="jumbotron">
-->
<div id="jumbotron">
    <div id="container" class="container-fluid"> <!-- fluid makes content fit the device's screen -->
      <div class="row">
            <div class="col-lg-12">
              <alert></alert>
                <router-outlet></router-outlet>
              </div>
            </div>
    </div>
</div>

<!-- credits -->
<div id="footer" class="footer text-center">
  <div class="row">
    <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
      <a href="https://vtecostudies.org/projects/forests/vernal-pool-conservation/vermont-vernal-pool-mapping-project/">
        <img [src]="vceLogoPath" height="50px">
      </a>
    </div>
    <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
      <p>
        VPAtlas is a joint effort of the
        <a href="https://vtecostudies.org/projects/forests/vernal-pool-conservation/" target="_top">Vermont Center for Ecostudies</a>
        and
        <a href="https://vtfishandwildlife.com/" target="_top">Vermont Fish & Wildlife</a>
      </p>
    </div>
    <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
      <a href="https://vtfishandwildlife.com/">
        <img style="/*float:right;*/" [src]="fNwLogoPath">
      </a>
    </div>
  </div>
</div>
