hr {
  display: block;
  margin-top: 0.0em;
  margin-bottom: 0.5em;
  margin-left: auto;
  margin-right: auto;
  /*border-style: inset;*/
  border-width: 5px;
  border-color: darkblue;
}

h1, h2, h3, h4 {
    display: inline;
    padding-right: 20px;
}

/* BEGIN styles of primary survey list table */

.list-table-div { /* Limit the size of the table's container */
  display: inline-block;
  width: 100%;
  height: 550px;
  overflow: auto;
  margin: auto;
}

.list-table-div th { /* Freeze the table header within the container */
  position: -webkit-sticky;
  position: sticky;
  top: 0; /* Must be zero for sticky to work. Any non-zero value allow header to scroll. */
  background: oldlace;
  z-index: auto
}

/* END styles to primary survey list table */
