/* You can add global styles to this file, and also import other style files */
/*
  import styles to enable angular-material dialogs
  ...dunno about 'deeppurple-amber' theme. so far
  it's  not imposing that look.
*/
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

.link {
  cursor: pointer;
}

/*
  Moved here from html-dialog-app.css because it has no effect, there!

  Remove all surrounding space from the dialog-box's icon so it doesn't
  muck spacing of labels, etc. it adorns.

  NOTE: !important is necessary to have effect
*/
html-dialog-app {
  padding: 0 !important;
  margin: 0 !important;
  border: 0 !important;
}

/*
  reduce padding on the navbar
*/
nav, .navbar, .navbar-nav > li > a, .navbar-expand {
  padding-top:5px !important;
  padding-bottom:5px !important;
}

/*
  remove vertical padding for nav items to allow navbar to govern
*/
.nav-item, .nav-link {
  padding-top:0px !important;
  padding-bottom:0px !important;
}

/*
  alter font size in bootstrap tables
*/
.table-condensed{
  font-size: 18px;
}
.table-sm{
  font-size: 14px;
}

#jumbotron {
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 20px;
  padding-right: 20px;
}

#container {
  min-height:600px !important;
}

.footer {
  padding-top: 0px;
}

.form-inline > * {
   margin:5px 3px;
}

/*
  make an item topmost in the display.
  eg. a link on top of the map that does things to the map...
*/
.topmost {
  position: relative;
  z-index: 999;
}

/*
  simple spacing for radio buttons
*/
.radio-button-horiz {
  display: inline-block;
  margin-right:3px;
  margin-left:9px;
}
.radio-button-vert {
  margin-right:5px;
  margin-left:5px;
}
.radio-button-justify-left {
  margin-right:5px;
}

/*
  add padding to buttons
*/
.btn {
  margin-right: 20px;
}

/*
  handle a row of text-input with leading and trailing labels
*/
.text-input-block {
  display: inline-block;
  margin-right:5px;
  margin-left:5px;
}
.leading-label {
  display: inline-block;
  margin-right:0px;
  margin-left:5px;
}
.trailing-label {
  display: inline-block;
  margin-right:5px;
  margin-left:0px;
}

/*
handle buttons on top of text inputs
*/
.overlay-input {
  float: left;
  flex-grow: 2;
}
.overlay-button {
  float: left;
}
.overlay-wrapper {
    display: inline-flex;
    width: 75%;
}

/*
  align table elements vertically. use <td class="vert-aligned"> for
  each <td> in a table.
*/
.table tbody > tr > td.vert-aligned {
  vertical-align: middle;
}

/* note: this didn't work... */
.table tbody > tr > td.body-scroll-align-columns th.body-scroll-align-columns {
    horizontal-align: left;
    /* width: 10px !important;*/ /* doesn't override default */
}

.btn-link .btn a {
  padding: 0px;
}

.content-left-border-right {
  border-right: 1px dashed #333;
}

label.disabled span.disabled {
  color: #cccc;
}

.circle {
  position:relative;
  top: 4px;
  width: 10px;
  height: 10px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  border: 1px solid black;
  background: green;
}

.triangle {
  position: relative;
  top:-12px;
  width:0;
  border-bottom:solid 11px black;
  border-right:solid 6px transparent;
  border-left:solid 6px transparent;
}

.triangle .filled {
  position: relative;
  top:17px;
  left:-4px;
  width:0;
  border-bottom:solid 8px white;
  border-right:solid 4px transparent;
  border-left:solid 4px transparent;
}
