/* You can add global styles to this file, and also import other style files */

/*
  alter font size in bootstrap tables
*/
.table-condensed{
  font-size: 18px;
}
.table-sm{
  font-size: 14px;
}

.jumbotron {
  padding-top: 30px;
  padding-left: 50px;
  padding-right: 50px;
}


/*
  make an item topmost in the display.
  eg. a link on top of the map that does things to the map...
*/
.topmost {
  position: relative;
  z-index: 999;
}
