/* You can add global styles to this file, and also import other style files */

/*
  alter font size in bootstrap tables
*/
.table-condensed{
  font-size: 18px;
}
.table-sm{
  font-size: 14px;
}

#jumbotron {
  padding: 5px;
  padding-left: 30px;
  padding-right: 30px;
}

#container {
  padding-left: 0px;
  padding-right: 0px;
}

.form-inline > * {
   margin:5px 3px;
}

/*
  make an item topmost in the display.
  eg. a link on top of the map that does things to the map...
*/
.topmost {
  position: relative;
  z-index: 999;
}

/*
  simple spacing for radio buttons
*/
.radio-button-horiz {
  display: inline-block;
  margin-right:3px;
  margin-left:9px;
}
.radio-button-vert {
  margin-right:5px;
  margin-left:5px;
}

/*
  add padding to buttons
*/
.btn {
  margin-right: 20px;
}

/*
  handle a row of text-input with leading and trailing labels
*/
.text-input-block {
  display: inline-block;
  margin-right:5px;
  margin-left:5px;
}
.leading-label {
  display: inline-block;
  margin-right:0px;
  margin-left:5px;
}
.trailing-label {
  display: inline-block;
  margin-right:5px;
  margin-left:0px;
}

.overlay-input {
  float: left;
  flex-grow: 2;
}
.overlay-button {
  float: left;
}
.overlay-wrapper {
    display: flex;
    width: 75%;
}
