/* You can add global styles to this file, and also import other style files */

/*
  alter font size in table-condensed
*/
.table-condensed{
  font-size: 18px;
}
.table-sm{
  font-size: 14px;
}

/*
  make an item topmost in the display.
  eg. a link on top of the map that does things to the map...
*/
.topmost {
  position: relative;
  z-index: 999;
}
