<div *ngIf="!loading">
  <div class="row">
    <div class="col-2">
      <h4><u>Vernal Pool Atlas</u></h4>
      <table class="table table-striped">
          <tr>
              <td>Potential Pools</td>
              <td>{{stats.potential}}</td>
          </tr>
          <tr>
              <td>Probable Pools</td>
              <td>{{stats.probable}}</td>
          </tr>
          <tr>
              <td>Confirmed Pools</td>
              <td>{{stats.confirmed}}</td>
          </tr>
          <tr>
              <td>Monitored Pools</td>
              <td>{{stats.monitored}}</td>
          </tr>
      </table>
    </div>
    <div class="col-10">
      <!--
      <app-map [mapPools]="pools"></app-map>
      -->
      <app-map-comp
        [mapPoints]="mapPoints"
        [mapValues]="pools"
        [itemType]="itemType"
        >
      </app-map-comp>
    </div>
  </div>
</div>
<div *ngIf="loading">
  ...Loading
</div>
