<div *ngIf="!loading">
  <div class="row">
    <div class="col-2">
      <h4><u>Vernal Pool Atlas</u></h4>
      <table class="table table-striped">
          <tr>
              <td>Mapped Pools</td>
              <td>{{count.mapped}}</td>
          </tr>
          <tr>
              <td>Visited Pools</td>
              <td>{{count.visited}}</td>
          </tr>
          <tr>
              <td>Monitored Pools</td>
              <td>{{count.monitored}}</td>
          </tr>
      </table>
    </div>
    <div class="col-10">
      <app-map [mapPools]="vpmap"></app-map>
    </div>
  </div>
</div>
<div *ngIf="loading">
  ...Loading
</div>
