<div class="row">
  <div class="col-2">
    <h4>
      <u>Mapped Pool Detail</u>
      &nbsp;
      <a *ngIf="userIsAdmin" href="/pools/mapped/update/{{pool.mappedPoolId}}">(Edit)</a>
      &nbsp;
      <a *ngIf="userIsAdmin" href="/pools/visit/create/{{pool.mappedPoolId}}">(Add Visit)</a>
    </h4>
    <table class="table table-striped table-sm">
        <tr>
            <td>Pool ID</td>
            <td>{{pool.mappedPoolId}}</td>
        </tr>
        <tr>
            <td>Mapped By</td>
            <td>{{pool.mappedByUser}}</td>
        </tr>
        <tr>
            <td>Mapped Date</td>
            <td>{{pool.mappedDateText}}</td>
        </tr>
        <tr>
            <td>Updated Date</td>
            <td>{{pool.updatedAt}}</td>
        </tr>
        <tr>
            <td>Status</td>
            <td>{{pool.mappedPoolStatus}}</td>
        </tr>
        <tr>
            <td>Town</td>
            <td>{{pool.mappedTown.townName}}</td>
        </tr>
        <tr>
            <td>Location Uncertainty</td>
            <td>{{pool.mappedLocationUncertainty}}</td>
        </tr>
        <tr>
            <td>Landowner Permission?</td>
            <td>{{pool.mappedLandownerPermission}}</td>
        </tr>
        <tr>
            <td>Landowner Conact Info</td>
            <td>
              {{pool.mappedLandownerName}} <br>
              {{pool.mappedLandownerAddress}} <br>
              {{pool.mappedLandownerTown}}
              {{pool.mappedLandownerStateAbbrev}}
              {{pool.mappedLandownerZip5}} <br>
              {{pool.mappedLandownerPhone}}
              {{pool.mappedLandownerEmail}}
            </td>
        </tr>
        <tr>
            <td>Landowner Additional Info</td>
            <td>{{pool.mappedLandownerInfo}}</td>
        </tr>
        <tr>
            <td>Latitude</td>
            <td>{{pool.mappedLatitude}}</td>
        </tr>
        <tr>
            <td>Longitude</td>
            <td>{{pool.mappedLongitude}}</td>
        </tr>
        <tr>
            <td>Comments</td>
            <td>{{pool.mappedComments}}</td>
        </tr>
        <tr>
            <td>Confidence</td>
            <td>{{pool.mappedConfidence}}</td>
        </tr>
        <tr>
            <td>Location Accuracy</td>
            <td>{{pool.mappedLocationAccuracy}}</td>
        </tr>
        <tr>
            <td>Source</td>
            <td>{{pool.mappedSource}}</td>
        </tr>
        <tr>
            <td>Source2</td>
            <td>{{pool.mappedSource2}}</td>
        </tr>
        <tr>
            <td>Shape</td>
            <td>{{pool.mappedShape}}</td>
        </tr>
        <tr>
            <td>Photo Number</td>
            <td>{{pool.mappedPhotoNumber}}</td>
        </tr>

    </table>
  </div>
  <div class="col-10">
    <div *ngIf="!dataLoading">
      <!--
      <app-map [mapPools]="vpmap"></app-map>
      -->
      <app-map-comp
        [mapValues]="pool"
        [itemType]="itemType"
        >
      </app-map-comp>
    </div>
    <div *ngIf="dataLoading">
      ...Loading
    </div>
  </div>
</div>
