<div *ngIf="!update">
  <h2>Map New Vernal Pool</h2>
</div>

<div *ngIf="update">
  <h2>Edit Vernal Pool '{{poolId}}'</h2>
</div>

<!-- test field for leaflet map event emitter
<div>
  poolUpdateLocation: {{poolUpdateLocation}}
</div>
-->

<form [formGroup]="vpMappedForm">
  <div class="row">
    <div class="col-3">
      <!--
          mappedPoolId
      -->
      <div class="form-group">
          <label for="mappedPoolId">Mapped Pool ID</label>
          <input type="text" formControlName="mappedPoolId" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.mappedPoolId.errors }" />
          <div *ngIf="submitted && f.mappedPoolId.errors" class="invalid-feedback">
              <div *ngIf="f.mappedPoolId.errors.required">Mapped Pool ID is required</div>
          </div>
      </div>
      <!--
          mappedByUser
      -->
      <div class="form-group">
          <label for="mappedByUser">Mapped By User</label>
          <input type="text" formControlName="mappedByUser" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.mappedByUser.errors }" />
          <div *ngIf="submitted && f.mappedByUser.errors" class="invalid-feedback">
              <div *ngIf="f.mappedByUser.errors.required">Mapped By User is required</div>
          </div>
      </div>
      <!--
          mappedDateText
      -->
      <div class="form-group">
          <label for="mappedDateText">Mapped Date</label>
          <input type="text" formControlName="mappedDateText" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.mappedDateText.errors }" />
          <div *ngIf="submitted && f.mappedDateText.errors" class="invalid-feedback">
              <div *ngIf="f.mappedDateText.errors.required">Mapped Date is required</div>
              <div *ngIf="f.mappedDateText.errors.date">Mapped Date must be a valid date in the format MM/DD/YYYY</div>
          </div>
      </div>
      <!--
        mappedLatitude
      -->
      <div class="form-group">
          <label for="mappedLatitude">Latitude</label>
          <input type="text" formControlName="mappedLatitude" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.mappedLatitude.errors }" />
          <div *ngIf="submitted && f.mappedLatitude.errors" class="invalid-feedback">
              <div *ngIf="f.mappedLatitude.errors.required">Mapped Latitude is required</div>
          </div>
      </div>
      <!--
        mappedLongitude
      -->
      <div class="form-group">
          <label for="mappedLongitude">Longitude</label>
          <input type="text" formControlName="mappedLongitude" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.mappedLongitude.errors }" />
          <div *ngIf="submitted && f.mappedLongitude.errors" class="invalid-feedback">
              <div *ngIf="f.mappedLongitude.errors.required">Mapped Longitude is required</div>
          </div>
      </div>

      <!--
        mappedTown
      -->
      <div class="form-group">
          <label for="mappedTown">Town</label>
          <select [compareWith]="compareTownFn" formControlName="mappedTown" class="form-control">
            <option *ngFor="let town of towns" [ngValue]="town">
              {{ town.townName }}
            </option>
          </select>
      </div>
      <!--
          mappedLocationUncertainty
      -->
      <div class="form-group">
          <label for="mappedLocationUncertainty">Mapped Location Uncertainty (yards)</label>
          <select formControlName="mappedLocationUncertainty" class="form-control">
            <option *ngFor="let locUnc of locUncs" [ngValue]="locUnc">
              {{ locUnc }}
            </option>
          </select>
      </div>
      <!--
        mappedComments
      -->
      <div class="form-group">
          <label for="mappedComments">Comments</label>
          <textarea rows="1" formControlName="mappedComments" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.mappedComments.errors }"> </textarea>
          <div *ngIf="submitted && f.mappedComments.errors" class="invalid-feedback">
              <div *ngIf="f.mappedComments.errors.required">Mapped Comments is required</div>
          </div>
      </div>

    </div> <!-- col -->
    <div class="col-3">

      <!--
        mappedLandownerPermission
      -->
      <div class="form-group">
          <label for="mappedLandownerPermission">Do you have Landowner Permission to map this pool?</label>&nbsp;
          <input type="checkbox" formControlName="mappedLandownerPermission" />&nbsp;
          <label>Yes</label>
      </div>

        <!-- mappedLandownerData if they have permission -->
        <form *ngIf="permission" [formGroup]="vpLandOwnForm">
        <div class="form-group">
            <label for="mappedLandownerName">Landowner Name</label>
            <input type="text" formControlName="mappedLandownerName" class="form-control" [ngClass]="{ 'is-invalid': submitted && l.mappedLandownerName.errors }" />
            <div *ngIf="submitted && l.mappedLandownerName.errors" class="invalid-feedback">
                <div *ngIf="l.mappedLandownerName.errors.required">Landowner Name is required</div>
            </div>
        </div>
        <div class="form-group">
            <label for="mappedLandownerAddress">Landowner Address</label>
            <textarea rows="1" formControlName="mappedLandownerAddress" class="form-control" [ngClass]="{ 'is-invalid': submitted && l.mappedLandownerAddress.errors }">
            </textarea>
            <div *ngIf="submitted && l.mappedLandownerAddress.errors" class="invalid-feedback">
                <div *ngIf="l.mappedLandownerAddress.errors.required">Landowner Address is required</div>
            </div>
        </div>
<!--
        <div class="form-group">
            <label for="mappedLandownerTown">Landowner Town</label>
            <input type="text" formControlName="mappedLandownerTown" class="form-control" [ngClass]="{ 'is-invalid': submitted && l.mappedLandownerTown.errors }" />
            <div *ngIf="submitted && l.mappedLandownerTown.errors" class="invalid-feedback">
                <div *ngIf="l.mappedLandownerTown.errors.required">Landowner Town is required</div>
            </div>
        </div>
        <div class="form-group">
            <label for="mappedLandownerStateAbbrev">Landowner State Abbreviation</label>
            <input type="text" formControlName="mappedLandownerStateAbbrev" class="form-control" [ngClass]="{ 'is-invalid': submitted && l.mappedLandownerStateAbbrev.errors }" />
            <div *ngIf="submitted && l.mappedLandownerStateAbbrev.errors" class="invalid-feedback">
                <div *ngIf="l.mappedLandownerStateAbbrev.errors.required">Landowner StateAbbrev is required</div>
            </div>
        </div>
        <div class="form-group">
            <label for="mappedLandownerZip5">Landowner Zip5</label>
            <input type="text" formControlName="mappedLandownerZip5" class="form-control" [ngClass]="{ 'is-invalid': submitted && l.mappedLandownerZip5.errors }" />
            <div *ngIf="submitted && l.mappedLandownerZip5.errors" class="invalid-feedback">
                <div *ngIf="l.mappedLandownerZip5.errors.required">Landowner Zip5 is required</div>
            </div>
        </div>
-->
        <div class="form-group">
            <label for="mappedLandownerPhone">Landowner Phone</label>
            <input type="text" formControlName="mappedLandownerPhone" class="form-control" [ngClass]="{ 'is-invalid': submitted && l.mappedLandownerPhone.errors }" />
            <div *ngIf="submitted && l.mappedLandownerPhone.errors" class="invalid-feedback">
                <div *ngIf="l.mappedLandownerPhone.errors.required">Landowner Phone is required</div>
            </div>
        </div>
        <div class="form-group">
            <label for="mappedLandownerEmail">Landowner Email</label>
            <input type="text" formControlName="mappedLandownerEmail" class="form-control" [ngClass]="{ 'is-invalid': submitted && l.mappedLandownerEmail.errors }" />
            <div *ngIf="submitted && l.mappedLandownerEmail.errors" class="invalid-feedback">
                <div *ngIf="l.mappedLandownerEmail.errors.required">Landowner Email is required</div>
            </div>
        </div>
      </form> <!-- vpLandOwnForm, if permission -->
      <!--
          mappedLandownerInfo
      -->
      <div class="form-group">
          <label for="mappedLandownerInfo">Please add any relevant Landowner Details Below.</label>
          <textarea rows="1" formControlName="mappedLandownerInfo" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.mappedLandownerInfo.errors }"> </textarea>
      </div>

      <!--
        Action buttons
      -->
      <div class="form-group">
          <button [disabled]="dataLoading" class="btn btn-primary" (click)="onSubmit()">Save</button>
          <img *ngIf="dataLoading" class="pl-3" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
          <button (click)="cancelMappedPool()" class="btn">Cancel</button>
          <button *ngIf="update" (click)="deletePool()" [disabled]="dataLoading" class="btn">Delete</button>
      </div>

    </div> <!-- col -->
    <div class="col-6">
      <div *ngIf="!dataLoading">
        <app-map [mapPools]="pool"
          [update]="mapMarker"
          (poolUpdate)="poolMapUpdate($event)"
          >
        </app-map>
      </div>
      <div *ngIf="dataLoading">
        ...Loading
      </div>
    </div>
  </div> <!-- row -->

</form>
