
<form [formGroup]="vpMappedForm">
  <div class="row">
    <div class="col-6">

    <div *ngIf="!update">
      <h2><u>Map New Vernal Pool</u></h2>
    </div>

    <div *ngIf="update">
      <h2><u>Edit Vernal Pool '{{poolId}}'</u></h2>
    </div>

    <div class="row">
      <div class="col-3">
        <!--
            mappedPoolId
        -->
        <div class="form-group">
            <label for="mappedPoolId">Pool ID</label>
            <input type="text" size="11" formControlName="mappedPoolId" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.mappedPoolId.errors }" />
            <div *ngIf="submitted && f.mappedPoolId.errors" class="invalid-feedback">
                <div *ngIf="f.mappedPoolId.errors.required">Mapped Pool ID is required</div>
            </div>
        </div>
      </div> <!-- col-4 -->
      <div class="col-3">
        <!--
            mappedByUser
        -->
        <div class="form-group">
            <label for="mappedByUser">User</label>
            <input type="text" size="11" formControlName="mappedByUser" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.mappedByUser.errors }" />
            <div *ngIf="submitted && f.mappedByUser.errors" class="invalid-feedback">
                <div *ngIf="f.mappedByUser.errors.required">Mapped By User is required</div>
            </div>
        </div>
      </div> <!-- col -->
      <div class="col">
        <!--
            mappedObserverUserName
        -->
        <div class="form-group">
            <label for="mappedObserverUserName">Observer</label>
            <input type="text" size="11" formControlName="mappedObserverUserName" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.mappedObserverUserName.errors }" />
            <div *ngIf="submitted && f.mappedObserverUserName.errors" class="invalid-feedback">
                <div *ngIf="f.mappedObserverUserName.errors.required">Observer is required</div>
            </div>
        </div>
      </div> <!-- col -->
      <div class="col-3">
        <!--
            mappedDateText
        -->
        <div class="form-group">
            <label for="mappedDateText">Date</label>
            <!-- style="width:150px;" -->
            <input type="date" formControlName="mappedDateText" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.mappedDateText.errors }" />
            <div *ngIf="submitted && f.mappedDateText.errors" class="invalid-feedback">
                <div *ngIf="f.mappedDateText.errors.required">Mapped Date is required</div>
                <div *ngIf="f.mappedDateText.errors.date">Mapped Date must be a valid date in the format MM/DD/YYYY</div>
            </div>
        </div>
    </div> <!-- col-4 -->
  </div> <!-- row -->

  <div class="row">
    <div class="col-4">
      <!--
        mappedLatitude
      -->
      <div class="form-group">
          <label for="mappedLatitude">Latitude</label>
          <input type="text" size="11" formControlName="mappedLatitude" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.mappedLatitude.errors }" />
          <div *ngIf="submitted && f.mappedLatitude.errors" class="invalid-feedback">
              <div *ngIf="f.mappedLatitude.errors.required">Mapped Latitude is required</div>
          </div>
      </div>
    </div> <!-- col-4 -->
    <div class="col-4">
      <!--
        mappedLongitude
      -->
      <div class="form-group">
          <label for="mappedLongitude">Longitude</label>
          <input type="text" size="11" formControlName="mappedLongitude" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.mappedLongitude.errors }" />
          <div *ngIf="submitted && f.mappedLongitude.errors" class="invalid-feedback">
              <div *ngIf="f.mappedLongitude.errors.required">Mapped Longitude is required</div>
          </div>
      </div>
    </div> <!-- col-4 -->
    <div class="col-4">
      <!--
        mappedTown
      -->
      <div class="form-group">
          <label for="mappedTown">Town</label>
          <select [compareWith]="compareTownFn" formControlName="mappedTown" class="form-control">
            <option *ngFor="let town of towns" [ngValue]="town">
              {{ town.townName }}
            </option>
          </select>
      </div>
    </div>
  </div> <!-- row -->

  <div class="row">
    <div class="col-4">
      <!--
          mappedLocationUncertainty
      -->
      <div class="form-group">
          <label for="mappedLocationUncertainty">Location Uncertainty (yards)</label>
          <select formControlName="mappedLocationUncertainty" class="form-control">
            <option *ngFor="let locUnc of locUncs" [ngValue]="locUnc">
              {{ locUnc }}
            </option>
          </select>
      </div>
    </div> <!-- col-4 -->

    <div class="col-4">
      <!--
          mappedMethod
      -->
      <div class="form-group">
          <label for="mappedMethod">Mapped Method</label>
          <select formControlName="mappedMethod" class="form-control">
            <option *ngFor="let method of methods" [ngValue]="method">
              {{ method }}
            </option>
          </select>
      </div>
    </div> <!-- col-4 -->

    <div class="col-4">
      <!--
          mappedPoolStatus
      -->
      <div class="form-group">
          <label for="mappedPoolStatus">Pool Status</label>
          <select formControlName="mappedPoolStatus" class="form-control">
            <option *ngFor="let status of statuses" [ngValue]="status">
              {{ status }}
            </option>
          </select>
      </div>
    </div> <!-- col-4 -->
  </div> <!-- row -->

  <div class="row">
    <div class="col-12">
      <!--
        mappedComments
      -->
      <div class="form-group">
          <label for="mappedComments">Comments</label>
          <textarea rows="1" formControlName="mappedComments" class="form-control"> </textarea>
      </div>
    </div> <!-- col-12 -->
  </div> <!-- row -->

  <div class="row">
      <!--
        mappedLandownerPermission
      -->
      <div class="form-group">
          <label for="mappedLandownerPermission">Do you have Landowner Permission to map this pool?</label>&nbsp;
          <label>
            <input type="checkbox" formControlName="mappedLandownerPermission" />&nbsp;
            <span>Yes</span>
          </label>
      </div>
  </div> <!-- row -->

  <form *ngIf="permission" [formGroup]="vpLandOwnForm">

    <div class="row">
      <div class="col-6">
        <!-- mappedLandownerData if they have permission -->
        <div class="form-group">
            <label for="mappedLandownerName">Landowner Name</label>
            <input type="text" formControlName="mappedLandownerName" class="form-control" [ngClass]="{ 'is-invalid': submitted && l.mappedLandownerName.errors }" />
            <div *ngIf="submitted && l.mappedLandownerName.errors" class="invalid-feedback">
                <div *ngIf="l.mappedLandownerName.errors.required">Landowner Name is required</div>
            </div>
        </div>
      </div> <!-- col -->
      <div class="col-6">
        <div class="form-group">
            <label for="mappedLandownerAddress">Landowner Address</label>
            <textarea rows="1" formControlName="mappedLandownerAddress" class="form-control" [ngClass]="{ 'is-invalid': submitted && l.mappedLandownerAddress.errors }">
            </textarea>
            <div *ngIf="submitted && l.mappedLandownerAddress.errors" class="invalid-feedback">
                <div *ngIf="l.mappedLandownerAddress.errors.required">Landowner Address is required</div>
            </div>
        </div>
      </div> <!-- col -->
    </div> <!-- row -->
<!--
        <div class="form-group">
            <label for="mappedLandownerTown">Landowner Town</label>
            <input type="text" formControlName="mappedLandownerTown" class="form-control" [ngClass]="{ 'is-invalid': submitted && l.mappedLandownerTown.errors }" />
            <div *ngIf="submitted && l.mappedLandownerTown.errors" class="invalid-feedback">
                <div *ngIf="l.mappedLandownerTown.errors.required">Landowner Town is required</div>
            </div>
        </div>
        <div class="form-group">
            <label for="mappedLandownerStateAbbrev">Landowner State Abbreviation</label>
            <input type="text" formControlName="mappedLandownerStateAbbrev" class="form-control" [ngClass]="{ 'is-invalid': submitted && l.mappedLandownerStateAbbrev.errors }" />
            <div *ngIf="submitted && l.mappedLandownerStateAbbrev.errors" class="invalid-feedback">
                <div *ngIf="l.mappedLandownerStateAbbrev.errors.required">Landowner StateAbbrev is required</div>
            </div>
        </div>
        <div class="form-group">
            <label for="mappedLandownerZip5">Landowner Zip5</label>
            <input type="text" formControlName="mappedLandownerZip5" class="form-control" [ngClass]="{ 'is-invalid': submitted && l.mappedLandownerZip5.errors }" />
            <div *ngIf="submitted && l.mappedLandownerZip5.errors" class="invalid-feedback">
                <div *ngIf="l.mappedLandownerZip5.errors.required">Landowner Zip5 is required</div>
            </div>
        </div>
-->
    <div class="row">
      <div class="col-6">
        <div class="form-group">
            <label for="mappedLandownerPhone">Landowner Phone</label>
            <input type="text" formControlName="mappedLandownerPhone" class="form-control" [ngClass]="{ 'is-invalid': submitted && l.mappedLandownerPhone.errors }" />
            <div *ngIf="submitted && l.mappedLandownerPhone.errors" class="invalid-feedback">
              <!--
              <div *ngIf="l.mappedLandownerPhone.errors.phone">Please enter a valid phone number: (123) 456-7890.</div>
              -->
              <div *ngIf="l.mappedLandownerPhone.errors.emailOrPhone">Landowner Phone or Email is required.</div>
            </div>
        </div>
      </div> <!-- col -->
      <div class="col-6">
        <div class="form-group">
            <label for="mappedLandownerEmail">Landowner Email</label>
            <input type="text" formControlName="mappedLandownerEmail" class="form-control" [ngClass]="{ 'is-invalid': submitted && l.mappedLandownerEmail.errors }" />
            <div *ngIf="submitted && l.mappedLandownerEmail.errors" class="invalid-feedback">
              <!--
              <div *ngIf="l.mappedLandownerEmail.errors.emailOrPhone">Landowner Email or Phone is required.</div>
              -->
              <div *ngIf="l.mappedLandownerEmail.errors.email">Please enter a valid email address.</div>
            </div>
        </div>
      </div> <!-- col -->
    </div> <!-- row -->
  </form> <!-- vpLandOwnForm, if permission -->

      <!--
          mappedLandownerInfo
      -->
      <!--
      <div class="form-group">
          <label for="mappedLandownerInfo">Please add any relevant Landowner Details Below.</label>
          <textarea rows="1" formControlName="mappedLandownerInfo" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.mappedLandownerInfo.errors }"> </textarea>
      </div>
      -->

      <!--
        Action buttons
      -->
      <div class="form-group">
          <button [disabled]="dataLoading" class="btn btn-primary" (click)="onSubmit()">Save</button>
          <img *ngIf="dataLoading" class="pl-3" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
          <button (click)="cancelMappedPool()" class="btn">Cancel</button>
          <button *ngIf="update" (click)="deletePool()" [disabled]="dataLoading" class="btn">Delete</button>
      </div>

    </div> <!-- col-6 -->

    <div class="col-6">
      <div *ngIf="!dataLoading">
        <app-map-comp
          [mapPoints]="mapPoints"
          [mapValues]="pool"
          [mapMarker]="mapMarker"
          [locMarker]="locMarker"
          (markerUpdate)="poolMapUpdate($event)"
        >
        </app-map-comp>
      </div>
      <div *ngIf="dataLoading">
        ...Loading
      </div>
    </div> <!-- col-6 -->

  </div> <!-- row -->

</form>
