
<div class="row">
  <div class="col-2 content-left-border-right">
    <h3><u>Search Pools</u></h3>
    <form [formGroup]="filterForm" class="">
      <table class="table table-sm"> <!-- odd discovery: table without <tr>, <td> does nice things -->
        <th style="width: 50%;"></th>
        <th style="width: 50%;"></th>
        <tr class="form-group">
          <td for="mappedPoolId">Pool ID</td>
          <td>
            <input (keyup.enter)="loadPools(1)" (keyup.tab)="loadPools(1)" type="text"  formControlName="mappedPoolId" class="form-control"/>
          </td>
        </tr>
        <tr class="form-group">
          <td for="mappedByUser">User</td>
          <td>
            <input (keyup.enter)="loadPools(1)" (keyup.tab)="loadPools(1)" formControlName="mappedByUser" class="form-control"/>
          </td>
        </tr>
        <tr class="form-group">
          <td for="mappedTown">Town</td>
          <td>
            <input (keyup.enter)="loadPools(1)" (keyup.tab)="loadPools(1)" formControlName="mappedTown" class="form-control"/>
          </td>
        </tr>
        <tr class="form-group">
          <td for="mappedConfidence">Confidence</td>
          <td>
            <input (keyup.enter)="loadPools(1)" (keyup.tab)="loadPools(1)" formControlName="mappedConfidence" class="form-control"/>
          </td>
        </tr>
        <tr class="form-group">
          <td for="mappedMethod">Method</td>
          <td>
            <select (change)="loadPools(1)" formControlName="mappedMethod" class="form-control">
              <option value="">All</option>
              <option value="Aerial">Aerial</option>
              <option value="Known">Known</option>
              <option value="Visit">Visit</option>
            </select>
          </td>
        </tr>
      </table>

<!--
        <div class="form-group row">
          <label for="mappedPoolId">Pool ID</label>
          <input (keyup.enter)="loadPools(1)" (keyup.tab)="loadPools(1)" type="text" formControlName="mappedPoolId" class="form-control"/>
        </div>
        <div class="form-group row">
          <label for="mappedByUser">Mapped By User</label>
          <input (keyup.enter)="loadPools(1)" (keyup.tab)="loadPools(1)" type="text"  formControlName="mappedByUser" class="form-control"/>
        </div>
        <div class="form-group row">
          <label for="mappedTown">Town</label>
          <input (keyup.enter)="loadPools(1)" (keyup.tab)="loadPools(1)" type="text"  formControlName="mappedTown" class="form-control"/>
        </div>
        <div class="form-group row">
          <label for="mappedConfidence">Confidence</label>
          <input (keyup.enter)="loadPools(1)" (keyup.tab)="loadPools(1)" type="text"  formControlName="mappedConfidence" class="form-control"/>
        </div>
-->
    </form>
  </div> <!-- col -->

  <div class="col-10">
    <div *ngIf="!loading">
      <div class="row">
        <div> <!-- OMFG, all vertical alignment issues were due to different div levels!!! -->
          <button (click)="checkBoxSetValue(true)" class="btn btn-link">{{count}} Records</button>
          <button *ngIf="!mapView" (click)="showMap()" class="btn btn-link">Map View</button>
          <button *ngIf="mapView" (click)="showTable()" class="btn btn-link">Table View</button>
        </div>
        <label class="btn btn-link vert-align-mid" style="vertical-align:bottom;">
          <input [checked]="loadAllRec" (change)="checkBoxValueChanged($event)" type="checkbox" class="radio-button-justify-left"/>
          <span>Load All</span>
        </label>
        <div *ngIf="!loadAllRec">
          <button (click)="firstPage()" class="btn btn-link">|< First</button>
          <button (click)="prevPage()" class="btn btn-link"><< Prev</button>
          <button class="btn btn-link">Page {{page}}</button>
          <button (click)="nextPage()" class="btn btn-link">Next >></button>
          <button (click)="lastPage()" class="btn btn-link">Last >|</button>
        </div>
      </div>

      <div *ngIf="!mapView">
        <table class="table table-striped table-sm table-responsive">
            <tr>
                <th>Pool ID</th>
                <th>User</th>
                <th>Method</th>
                <th>Status</th>
                <th>Town</th>
                <th>Confidence</th>
                <th>Latitude</th>
                <th>Longitude</th>
                <th>Permission</th>
                <th>Source</th>
                <th>Source2</th>
            </tr>
            <tr *ngFor="let pool of pools">
                <td><a [routerLink]="['/pools/mapped/view/', pool.mappedPoolId]" class="btn btn-link">{{pool.mappedPoolId}}</a></td>
                <td>{{pool.mappedByUser}}</td>
                <td>{{pool.mappedMethod}}</td>
                <td>{{pool.mappedPoolStatus}}</td>
                <td>{{pool.mappedTown.townName}}</td>
                <td>{{pool.mappedConfidence}}</td>
                <td>{{pool.mappedLatitude}}</td>
                <td>{{pool.mappedLongitude}}</td>
                <td>{{pool.mappedLandownerPermission}}</td>
                <td>{{pool.mappedSource}}</td>
                <td>{{pool.mappedSource2}}</td>
            </tr>
        </table>
      </div>

      <div *ngIf="mapView">
        <!--
        <app-map [mapPools]="vpmap"></app-map>
        -->
        <app-map-comp
          [mapPoints]="mapPoints"
          [mapValues]="pools"
          [itemType]="itemType">
        </app-map-comp>
      </div>

    </div> <!-- loading -->

    <div *ngIf="loading">
      ...Loading
    </div>

  </div><!-- col-sm-9 -->

</div><!-- row -->
