hr {
  display: block;
  margin-top: 0.0em;
  margin-bottom: 0.5em;
  margin-left: auto;
  margin-right: auto;
  /*border-style: inset;*/
  border-width: 5px;
  border-color: darkblue;
}

/*
  Style form-group apparently has Zero margin-top from weirdness elsewhere, and
  it works for them.

  Here, we need the buttons to have some space.
*/
.survey-upload-button-bar {
  margin-top: 3.0em;
}
