/*
  In placing action buttons at the top, need h* tags to allow inline display.
*/
h1, h2, h3, h4 {
    display: inline;
    padding-right: 20px;
}

hr {
  display: block;
  margin-top: 0.0em;
  margin-bottom: 0.5em;
  margin-left: auto;
  margin-right: auto;
  /*border-style: inset;*/
  border-width: 5px;
  border-color: darkblue;
}

/*
  Style form-group apparently has Zero margin-top from weirdness elsewhere, and
  it works for them.

  Here, we need the buttons to have some space.
*/
.survey-upload-button-bar {
  margin-top: 3.0em;
}

.survey-list-photo {
  border: 1px solid #ddd; /* Gray border */
  border-radius: 4px;  /* Rounded border */
  padding: 5px; /* Some padding */
  width: 80px; /* Set a small width */
}

/* Add a hover effect (blue shadow) */
.survey-list-photo:hover {
  box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}
