<jw-modal id="vpsurvey_help_info">
    <button (click)="closeModal('vpsurvey_help_info');">Close</button>
</jw-modal>

<div class="row">
  <div class="col-4">
    <div style="display:inline-block;">
      <h5><b>Load <u>VPMon</u> S123 Data from API</b></h5>
    </div>
  </div> <!-- col -->
</div> <!-- row -->

<form [formGroup]="surveyForm">

  <div class="row">
    <div class="col-4">

      <div class="row">  <!-- sub-row serviceId select drop-down -->
        <div class="form-group form-inline col-12">
          <label>S123 Survey Service ID</label>
          <i (click)="openModal('vpsurvey_help_info', 'surveyS123Service')" class="fa fa-info-circle no-margins link"></i>
          <select style="width:100%;" class="form-control" (change)="HandleServiceIdSelect()" formControlName="surveyS123Service">
            <option class="form-control" *ngFor="let service of s123services" [ngValue]="service">
              {{ service.surveyServiceId }}
            </option>
          </select>
        </div>
      </div> <!-- sub-row -->

      <div class="row">
        <div class="form-group form-inline">
            <label for="surveyS123LoadUpdate">Overwrite existing survey data?</label>
            <i (click)="openModal('vpsurvey_help_info', 'surveyS123LoadUpdate')" class="fa fa-info-circle no-margins link"></i>
            <input type="checkbox" formControlName="surveyS123LoadUpdate" />
            <label>Yes</label>
        </div>
      </div> <!-- sub-row -->

    </div> <!-- main col-4 -->

    <div class="col-4">
      <div class="row">
        <!--
          Action buttons
        -->
        <div class="form-group">
          <button [disabled]="" class="btn btn-primary btn-default" (click)="S123LoadSurveys()">Load Data</button>
          <img *ngIf="upLoading" class="pl-3" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
          <button (click)="AbortS123Load()" class="btn">Abort</button>
          <button (click)="CancelS123Load()" class="btn">Cancel</button>
        </div>
      </div>

      <div class="row"> <!-- sub-row -->
        <label class="col-sm-2" for="surveyS123LoadOffset">Offset</label>
        <i (click)="openModal('vpsurvey_help_info', 'surveyS123Load_Offset')" class="fa fa-info-circle no-margins link"></i>
        <div class="col-sm-3">
          <input class="form-control" type="number" min="1" max="1000" formControlName="surveyS123LoadOffset" />
        </div>

        <label class="col-sm-2" for="surveyS123LoadLimit">Limit</label>
        <i (click)="openModal('vpsurvey_help_info', 'surveyS123Load_Limit')" class="fa fa-info-circle no-margins link" (click)="openModal('vpsurvey_help_info', 'surveyS123Load_Limit')"></i>
        <div class="col-sm-3">
          <input class="form-control" type="number" min="1" max="500" formControlName="surveyS123LoadLimit" />
        </div>
      </div> <!-- sub-row -->

    </div> <!-- main col-4 -->

    <div class="col-4" *ngIf="s123counts">
      <table class="table table-striped">
        <thead>
          <tr>
            <td>Success</td>
            <td>Errors</td>
            <td>Target</td>
            <td>Total</td>
            <td>Aborted</td>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>{{s123counts.success}}</td>
            <td>{{s123counts.errors}}</td>
            <td>{{s123counts.target}}</td>
            <td>{{s123counts.total}}</td>
            <td>{{s123counts.aborted}}</td>
          </tr>
        </tbody>
      </table>
    </div> <!-- col-9 -->
    <hr>
  </div> <!-- row -->

</form> <!-- surveySurveyForm -->
<!--
  Full-width tables of results - Previous Uploads, Current Uploads, Current Upload Errors.
-->
<div class="row">
  <div class="col-12" *ngIf="s123uploads.length>0">
    <div style="text-align:center;"><h3><u>Previous Uploads</u></h3></div>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Uploaded Survey ID</th>
          <th>Uploaded Pool ID</th>
          <th>Upload Created</th>
          <th>Upload Updated</th>
          <th>S123 Data</th>
          <th>S123 Global ID</th>
          <th>S123 Photos</th>
      </tr>
      </thead>
      <tbody>
        <tr *ngFor="let survey of s123uploads">
          <td>
            <a [routerLink]="['/survey/view', survey.surveyId]" target='_blank' class="btn btn-link">{{survey.surveyId}}</a>
          </td>
          <td>
            <a [routerLink]="['/pools/list', survey.surveyPoolId]" target='_blank' class="btn btn-link">{{survey.surveyPoolId}}</a>
          </td>
          <td>{{survey.createdAt}}</td>
          <td>{{survey.updatedAt}}</td>
          <td *ngIf="survey.surveyDataUrl">
            <a href="{{survey.surveyDataUrl?(survey.surveyDataUrl.split('?')[0]):null}}"
            target="_blank" class="btn btn-link">{{survey.surveyObjectId}}</a>
          </td>
          <td *ngIf="!survey.surveyDataUrl">
            {{survey.surveyObjectId}}
          </td>
          <td>{{survey.surveyGlobalId}} </td>
          <td>
            <div *ngIf="survey.photos" class="cell-scrollable-list cell-survey-photo-rtl">
              <div *ngFor="let photo of survey.photos">
              <a href="{{photo}}" target=_blank>
                <img style="width:30px;height:30px;" src="{{photo}}"></a>
              </div>
            </div>
          </td>
      </tr>
    </tbody>
    </table>
  </div>
</div> <!-- sub-col, sub-row -->

  <div class="row">
    <div class="col-12" *ngIf="s123results.length>0">
      <div style="text-align:center;"><h3><u>Successful Upload Results</u></h3></div>
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Survey ID</th>
            <th>Survey Pool ID</th>
            <th>S123 Object ID</th>
            <th>S123 Global ID</th>
            <th>S123 Attachments</th>
            <th>Updated?</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let survey of s123results">
              <td>
                <a [routerLink]="['/survey/view', survey.data.surveyId]" target="_blank" class="btn btn-link">{{survey.data.surveyId}}</a>
              </td>
              <td>
                <a [routerLink]="['/survey/pool', survey.data.surveyPoolId]" target="_blank" class="btn btn-link">{{survey.data.surveyPoolId}}</a>
              </td>
              <td *ngIf="survey.data.surveyDataUrl">
                <a href="{{survey.data.surveyDataUrl?(survey.data.surveyDataUrl.split('?')[0]):null}}"
                target="_blank" class="btn btn-link">{{survey.data.surveyObjectId}}</a>
              </td>
              <td *ngIf="!survey.data.surveyDataUrl">
                {{survey.data.surveyObjectId}}
              </td>
              <td>{{survey.data.surveyGlobalId}}</td>
              <td>{{survey.attachments.length?survey.attachments.length:0}} </td>
              <td>{{survey.data.updated}} </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div> <!-- sub-col, sub-row -->

  <div class="row">
    <div class="col-12" *ngIf="s123errors.length>0">
      <div style="text-align:center;"><h3><u>Failed Upload Errors</u></h3></div>
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Object ID</th>
            <th>Name</th>
            <th>Message</th>
            <th>Table</th>
            <th>Column</th>
            <th>Routine</th>
          </tr>
        </thead>
        <thead>
          <tr *ngFor="let error of s123errors">
              <td>
                <a href="{{error.dataUrl}}" target="_blank" class="btn btn-link">{{error.objectId}}</a>
              </td>
              <td class="btn-link" (click)="Alert(error.detail, error.where)">{{error.name}}</td>
              <td>{{error.hint}}</td>
              <td>{{error.table}}</td>
              <td>{{error.column}}</td>
              <td>{{error.routine}}</td>
          </tr>
        </thead>
      </table>
    </div>
  </div> <!-- sub-col, sub-row -->
