<div class="row">
  <div class="col-12">
    ﻿<h3><u>VPAtlas Surveys</u></h3>
    <button (click)="Add()" class="btn btn-primary">Add</button>
    <button (click)="Cancel()" class="btn">Cancel</button>
    <label>Count: {{count}}</label>
  </div>
</div>
<form [formGroup]="filterForm">
  <div class="row">
    <div class="form-group col-2">
      <label>Survey ID</label>
      <input (change)="LoadSurveys()" type="text" formControlName="surveyId" class="form-control"/>
    </div>
    <div class="form-group col-2">
      <label>Pool ID</label>
      <select (change)="LoadSurveys()" formControlName="surveyPoolId" class="form-control">
        <option *ngFor="let pool of surveyPoolIds" [ngValue]="pool">
          {{ pool.surveyPoolId }}
        </option>
      </select>
    </div>
    <div class="form-group col-2">
      <label>Survey Type</label>
      <select (change)="LoadSurveys()" formControlName="surveyTypeId" class="form-control">
        <option *ngFor="let type of surveyTypes" [ngValue]="type">
          {{ type.surveyTypeName }}
        </option>
      </select>
    </div>
    <div class="form-group col-2">
      <label>Survey Year</label>
      <select (change)="LoadSurveys()" formControlName="surveyYear" class="form-control">
        <option *ngFor="let year of surveyYears" [ngValue]="year">
          {{ year.surveyYear }}
        </option>
      </select>
    </div>
<!--
    <div class="form-group col-2">
      <label>Observer</label>
      <select (change)="LoadSurveys()" formControlName="surveyObserver" class="form-control">
        <option *ngFor="let obs of surveyObs" [ngValue]="obs">
          {{ obs.surveyObserver }}
        </option>
      </select>
    </div>
  </div>
  <div class="row">
-->
    <div class="form-group col-2">
      <label>Begin Survey Date</label>
      <input (change)="LoadSurveys()" type="date" formControlName="surveyDateBeg" class="form-control"/>
    </div>
    <div class="form-group col-2">
      <label>End Survey Date</label>
      <input (change)="LoadSurveys()" type="date" formControlName="surveyDateEnd" class="form-control"/>
    </div>
  </div>

</form>

<div class="row">
<table class="table table-striped">
    <tr>
      <th>Survey ID</th>
      <th>User</th>
      <th>Pool ID</th>
      <th>Date</th>
      <th>Time</th>
      <th>Type</th>
      <th>Amphib</th>
      <th>Macros</th>
      <th>Photos</th>
    </tr>
    <tr *ngFor="let survey of surveys">
        <td>
          <a [routerLink]="['/survey/view/', survey.surveyId]" class="btn btn-link">{{survey.surveyId}}</a>
        </td>
        <td>{{survey.surveyUserName}}</td>
        <td>{{survey.surveyPoolId}}</td>
        <td>{{survey.surveyDate}}</td>
        <td>{{survey.surveyTime}}</td>
        <td>{{survey.surveyTypeName}}</td>
        <td class="btn-link" (click)="ShowJson(survey.surveyAmphibJson)">{{survey.sumAmphib?survey.sumAmphib[0]+'/'+survey.sumAmphib[1]:'0'}}</td>
        <td class="btn-link" (click)="ShowJson(survey.surveyMacroJson)">{{survey.sumMacros?survey.sumMacros:'0'}}</td>
        <td *ngFor="let url of survey.surveyPhotoUrls">
          <a href="{{url}}" target=_blank>
            <img class="survey-list-photo" src="{{url}}"/>
          </a>
        </td>
        <td *ngIf="!survey.surveyPhotoJson"></td>
    </tr>
</table>
</div> <!-- row -->
