/*
  In placing action buttons at the top, need h* tags to allow inline display.
*/
h1, h2, h3, h4 {
    display: inline;
    padding-right: 20px;
}

hr {
  display: block;
  margin-top: 0.0em;
  margin-bottom: 0.5em;
  margin-left: auto;
  margin-right: auto;
  /*border-style: inset;*/
  border-width: 5px;
  border-color: darkblue;
}

/*
  Style form-group apparently has Zero margin-top from weirdness elsewhere, and
  it works for them.

  Here, we need the buttons to have some space.
*/
.survey-upload-button-bar {
  margin-top: 3.0em;
}

.number-text {
  size: 12;
}

/* BEGIN styles of primary survey list table */

.list-table-div { /* Limit the size of the table's container */
  display: inline-block;
  width: 100%;
  height: 550px;
  overflow: auto;
  margin: auto;
}

.list-table-div th { /* Freeze the table header within the container */
  position: -webkit-sticky;
  position: sticky;
  top: 0; /* Must be zero for sticky to work. Any non-zero value allow header to scroll. */
  background: oldlace;
}

/* END styles to primary survey list table */

.cell-scrollable-list {
  padding-top: 5px;
  overflow-y: auto; 
  overflow-x: hidden; 
  max-height: 100px !important;
  direction: rtl; /* Move scrollbar to left */
  text-align: right; /* Align scrollable contents to right */
}

/* These are used by the small side-tables in Survey View for one Survey ID */
.scroll-thead {
    width: 100%;
    display: inline-table;
}

.scroll-tbody-y
{
    display: block;
    overflow-y: scroll;
}

.table-body{
    height: 200px;
}

/* Photo appearance details applied to img tag */
.survey-list-photo {
  border: 1px solid #ddd; /* Gray border */
  border-radius: 4px;  /* Rounded border */
  padding: 5px; /* Some padding */
  width: 80px; /* Set a small width */
}

/* Add a hover effect (blue shadow) */
.survey-list-photo:hover {
  box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}

/* 
  BEGIN - table photos' superscript labels overlay cells top-left. 
  Applied directly to td or div wrapper.
*/
.cell-survey-photo {
  padding: 3px;
 }

 .cell-survey-photo sup { /* Photos in Survey View small table */
  display: block;
  top: 0px;
  left: 5px;
 }

 .cell-survey-photo-rtl sup { /* Photos in Survey List with scrollbar on left */
  display: block;
  top: 0px;
  right: 45px;
  padding-top: 5px; 
 }

 .cell-survey-photo a { /* All Survey photo thumbnails are linked to their source photo */
  display: block;
  text-align: center;
 }
 /* END - table photos' superscript labels overlay cells */

 